.card-container {
    padding: 10px;
  /*  background-color: #f9f9f9;
    border-radius: 8px;*/
   /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header-image{
    height: 10%;
    width: 12%;
    margin-left: 20px;
}


.ul-container{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  /*  border: 1px solid #fff;*/
    color:#fff;
    background-color: #2a566b;
    border-radius: 0px;
    height: 8vh;
}

.ul-container>li{
    margin-right: 20px;
    cursor: pointer;
    align-self: center;
}

::ng-deep .active{
  background-color: #0099cc !important;
  color: white;
  font-weight: bold;
  height: 100%;
  width: 100px;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hearder-profile-image{
  height: 40px;
  width:40px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.profile-elements-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

::ng-deep .logout-btn .p-button{
  background-color: #0077aa !important;
    color: white !important;
    border-radius: 5px;
    margin-top:10px;
    border:none;
    border-radius: 5px;
}

