/* Default styles (for larger screens) */
.card-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width:100%;
}

.header-image {
    height: 10%;
    width: 12%;
    margin-left: 20px;
}

.ul-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    background-color: #2a566b;
    height: 8vh;
}

.ul-container > li {
    margin-right: 20px;
    cursor: pointer;
    align-self: center;
}

::ng-deep .active {
    background-color: #0099cc !important;
    color: white;
    font-weight: bold;
    height: 100%;
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hearder-profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
}

.profile-elements-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

::ng-deep .logout-btn .p-button {
    background-color: #0077aa !important;
    color: white !important;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}

.icon-size{
      font-size:30px;
      color:#0099cc;

    }
   

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  

    .header-image {
        width: 20%;
    }

    .ul-container {
      
        align-items: center;
        height: auto;
    }

    .ul-container > li {
       font-size: 12px;
       margin-right: 10px;
    }

    ::ng-deep .active {
        width: auto;
        padding: 10px;
    }

   
}

/* Extra small screens (mobile) */
@media (max-width: 480px) {

  .card-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width:100%;
}

    .header-image {
        width: 30%;
    }

    .ul-container {
        text-align: center;
        font-size:12px;
    }

    li{
      margin-right: 10px;
    }

    .hearder-profile-image{
      height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    }


    .icon-size{
      font-size:20px;
      color:#0099cc;

    }
   

    ::ng-deep .logout-btn .p-button {
        width: 100%;
        font-size: 10px;
    }
}
