/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Card Container */
.graph-card2 {
    position: absolute !important;
    z-index: 2 !important;
    top: 25vh;
    width: calc(100% - 50px);
    background-color: transparent;
    margin-left: calc(10px + 1%);
    margin-right: calc(10px + 2%);
}

/* Table Container */
.table-containerDepart {
    width: 100%;
    overflow-x: auto;
    height: 46vh;
    border: none;
    scrollbar-width: none;
}

/* Table Styles */
::ng-deep .p-card {
    border-radius: 0px !important;
    width: 100% !important;
}

::ng-deep .p-table {
    width: 80% !important;
}

/* Buttons */
.add-btn {
    background-color: #0077aa;
    margin: 5px !important;
    border-radius: 5px !important;
    width: 150px !important;
    font-weight: bold !important;
}

/* No Records Message */
.no-records-container {
    text-align: center;
    padding-top: 30px;
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
}

/* Delete Button */
.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Confirmation Box */
.confirm-box-card {
    width: 30% !important;
}

/* Button Container */
.add-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

td {
    text-align: center !important;
    font-family: "Roboto";
}

th,
h3 {
    font-family: "Roboto";
}

::ng-deep .flex-auto {
    width: 100%;
    margin-bottom: 10px;
}

::ng-deep .cancel-btn .p-button {
    /*   background-color: red !important;*/
    color: white !important;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

::ng-deep .submit-btn .p-button {
    background-color: #0077aa !important;
    color: white !important;
    border-radius: 5px;
    padding: 10px;
}

::ng-deep .error-text {
    color: red;
}

.dept-pagi-selector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

tr:hover {
    background-color: #d5ddeb;
    color: #000;
    cursor: pointer;
}

tr:nth-child(odd):hover {
    background-color: #d5ddeb !important;
    color: #000;
}

::ng-deep .p-datatable-tbody>tr>td {
    padding: 8px !important;
}

::ng-deep .p-datatable-thead>tr>th {
    padding: 8px !important;
}

::ng-deep .p-paginator {
    gap: 0px !important;
    padding: 0px !important;
}

:host ::ng-deep .paginatorFormElement1 {
    height: 30px !important;
    margin: 5px;
    margin-top: 5px !important;
    width: 35px;
    padding: 5px;
    padding-left: 0px;
    text-align: center;
    border: 1px solid #000;
    background-color: transparent !important;
    border-radius: 5px !important;
}

::ng-deep .custom-paginator1 {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.header-element {
    color: #fff !important;
    font-family: 'Roboto';
    font-size: 1.5rem;
    margin-left: 30px;
    padding-top: 10px;
}

.fa-solid {
    font-size: 1.5rem;
    margin-right: 5px;
}

.department-form-modal {
    display: flex;
    flex-direction: column;
}

::ng-deep .p-button-text.p-button-secondary:not(:disabled):hover {
    background: transparent;
    border-color: transparent;
    color: var(--p-button-text-secondary-color);
}


/* Responsive Adjustments */
@media (max-width:769px) and (min-width: 1024px) {

    .table-containerDepart {
        height: 40vh;
    }

    th,
    td {
        font-size: 14px;
        padding: 8px;
    }

    .add-btn {
        width: 120px !important;
        font-size: 12px;
    }


    .p-card {
        border-radius: 0px !important;
        width: 100% !important;
        height: 65vh;
    }
}

@media (max-width: 576px) and (min-width:768px) {
    .graph-card2 {
        background-color: transparent;
        margin-left: calc(10px + 5%);
        margin-right: calc(10px + 1%);
        padding-top: 23px;
    }

    ::ng-deep .p-card {
        height: 50vh !important;
        display: flex !important;

    }

}

@media (max-width: 576px) {
    .graph-card2 {
        width: calc(100% - 20px);
        background-color: transparent;
        margin-left: calc(10px + 1%);
        margin-right: calc(10px + 2%);
        padding-top: 23px;
        top: 23vh !important;
    }

    ::ng-deep .p-card {
        height: 65vh !important;
        display: flex !important;
    }


    .table-containerDepart {
        height: 37vh;
    }

    th,
    td {
        font-size: 10px;
        padding: 5px;
    }

    .add-btn {
        width: 80px !important;
        font-size: 9px;
    }

    ::ng-deep .custom-paginator1 {
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-end !important;
        align-items: center !important;
        flex-wrap: wrap !important;
    }

    .confirm-box-card {
        width: 70% !important;
    }

    .student-heading {
        font-size: 15px;
    }

    .paginator-btn {
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }


    :host ::ng-deep .p-paginator {
        gap: 0px !important;
        height: 30px;
        padding: 0px;
        margin: 5px;
        margin-top: 15px;
    }

    :host ::ng-deep .p-paginator-page,
    .p-paginator-next,
    .p-paginator-last,
    .p-paginator-first,
    .p-paginator-prev {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        height: 30px !important;
        min-width: 20px !important;

    }

    :host ::ng-deep .p-paginator-first {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-right: none !important;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        height: 30px !important;

    }

    :host ::ng-deep .p-paginator-prev,
    .p-paginator-next {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-right: none !important;
        height: 30px !important;
        min-width: 20px !important;

    }

    :host ::ng-deep .p-paginator-page {
        gap: none !important;
        border-right: 0px !important;
        height: 30px !important;

    }

    :host ::ng-deep .p-paginator-pages {
        gap: 0px !important;
        height: 30px !important;
    }

    :host ::ng-deep .p-paginator-next {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-right: none !important;
        height: 30px !important;
        min-width: 20px !important;
    }

    :host ::ng-deep .p-paginator-last {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        height: 30px !important;
    }

    :host ::ng-deep .p-paginator-page.p-paginator-page-selected {
        background-color: #0077aa !important;
        color: #FFFF !important;
        height: 30px !important;
    }


    ::ng-deep .custom-paginator1 {
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-end !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        margin-top: 45px !important;

    }

    .header-element {
        color: #fff !important;
        font-family: 'Roboto';
        font-size: 1rem;
        margin-left: 10px;
        padding-top: 10px;
    }

    .fa-solid {
        font-size: 15px;
        margin-right: 5px;
    }

    .department-form-modal {
        display: flex;
        flex-direction: column;
    }

    ::ng-deep .go-btn1 .p-button {
        height: 30px !important;
        background-color: #0077aa !important;
        font-size: 10px;
        margin-top: 10px;

    }

    :host ::ng-deep .paginatorFormElement1 {
        height: 30px !important;
        margin: 5px;
        margin-left: 0px;
        margin-top: 15px !important;
        width: 35px;
        padding: 5px;
        padding-left: 0px;
        text-align: center;
        border: 1px solid #000;
        background-color: transparent !important;
        border-radius: 5px !important;
    }

    :host ::ng-deep .p-toast {
        width: 90% !important;
    }


}


.p-select {
    /* border-bottom-left-radius: 5px !important; */
    /* border-top-left-radius: 5px !important; */
    color: #fff !important;
    outline: none !important;
    border-radius: 5px !important;
    /* width: auto !important; */
    background-color: transparent !important;
}



/* paginator styles */

:host ::ng-deep .p-paginator {
    gap: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    /*  margin-top: 10px;*/
}


:host ::ng-deep .p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    height: 30px;
}


:host ::ng-deep .p-paginator-first {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-right: none !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    height: 30px;

}

:host ::ng-deep .p-paginator-prev,
.p-paginator-next {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-right: none !important;
    height: 30px;
}

:host ::ng-deep .p-paginator-page {
    gap: none !important;
    border-right: 0px !important;
    height: 30px;

}

:host ::ng-deep .p-paginator-pages {
    gap: 0px !important;
    height: 30px;


}

:host ::ng-deep .p-paginator-next {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-right: none !important;
    height: 30px;
}

:host ::ng-deep .p-paginator-last {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    height: 30px;
}

:host ::ng-deep .p-paginator-page.p-paginator-page-selected {
    background-color: #0077aa !important;
    color: #FFFF !important;
    height: 30px;
}

::ng-deep .go-btn1 .p-button {
    height: 30px !important;
    background-color: #0077aa !important;
}

::ng-deep .p-inputtext.ng-invalid.ng-dirty {
    border-color: #d9dbde !important;
}

::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd):hover {
    background: #F0F0F0 !important;
    border-color: #F2F2F2 !important;
    background-color: #d5ddeb !important;
    color: #000;
}