
<div [ngStyle]="{'background-color':'#0099cc', 'height':'15vh'}">
    <h2 class="header-element"><i class="fa-solid fa-graduation-cap"></i> Department</h2>
</div>

<div class="graph-card2" >
    <p-card class="department-form-modal">
        <div class="dept-pagi-selector">
            <h3> Departments</h3>
            <p-select [options]="rowsPerPageArray" [(ngModel)]="rowsPerPage" optionLabel="name" 
                  class="w-full md:w-56 paginator-btn" *ngIf="studentList.length !== 0"  (onChange)="onChangeRowsPerPage($event)"/>
        </div>
        <hr/>
        <div class="table-containerDepart">
            <div *ngIf="studentList?.length === 0" class="no-records-container">
                <h2>No records found.</h2>
            </div>

            <p-table [value]="paginatedStudentList" stripedRows *ngIf="studentList?.length !== 0"
                     [rows]="rowsPerPage.value" responsiveLayout="scroll" paginator="false"> 
                <ng-template #header>
                    <tr>
                        <th (click)="sortColumn('departmentId')" style="white-space: nowrap; text-align: center;" pSortableColumn="departmentId">
                            Department Id <p-sortIcon field="departmentId"/>
                          </th>
                          
                          <th (click)="sortColumn('departmentName')" style="white-space: nowrap; text-align: center;" pSortableColumn="department">
                            Department Name <p-sortIcon field="departmentName"/>
                          </th>
                          
                          <th (click)="sortColumn('noOfStudents')" style="white-space: nowrap; text-align: center;" pSortableColumn="noOfStudents">
                            Number Of Students <p-sortIcon field="noOfStudents"/>
                          </th>
                          
                          <th (click)="sortColumn('createdSource')" style="white-space: nowrap; text-align: center;" pSortableColumn="createdSource">
                            Created Source <p-sortIcon field="createdSource"/>
                          </th>
                          
                          <th (click)="sortColumn('createdSourceType')" style="white-space: nowrap; text-align: center;" pSortableColumn="createdSourceType">
                            Created Source Type <p-sortIcon field="createdSourceType"/>
                          </th>
                          
                          <th (click)="sortColumn('createdDttm')" style="white-space: nowrap; text-align: center;" pSortableColumn="createdDttm">
                            Created Datetime <p-sortIcon field="createdDttm"/>
                          </th>
                          
                          <th (click)="sortColumn('modifiedSource')" style="white-space: nowrap; text-align: center;" pSortableColumn="modifiedSource">
                            Modified Source <p-sortIcon field="modifiedSource"/>
                          </th>
                          
                          <th (click)="sortColumn('modifiedSourceType')" style="white-space: nowrap; text-align: center;" pSortableColumn="modifiedSourceType">
                            Modified Source Type <p-sortIcon field="modifiedSourceType"/>
                          </th>
                          
                          <th (click)="sortColumn('modifiedDttm')" style="white-space: nowrap; text-align: center;" pSortableColumn="modifiedDttm">
                            Modified Datetime <p-sortIcon field="modifiedDttm"/>
                          </th>
                    </tr>
                </ng-template>

                <ng-template #body let-product>
                    <tr (click)="viewStudentDetails(product)">
                        <td style="white-space: nowrap;">{{ product.departmentId }}</td>
                        <td style="white-space: nowrap;">{{ product.departmentName }}</td>
                        <td style="white-space: nowrap;" *ngIf="product.noOfStudents === 0 "> No Students Available </td>
                        <td style="white-space: nowrap;" *ngIf="product.noOfStudents !== 0">{{product.noOfStudents}}</td>
                        <td style="white-space: nowrap;">{{ product.createdSource }}</td>
                        <td style="white-space: nowrap;">{{ product.createdSourceType }}</td>
                        <td style="white-space: nowrap;">{{ product.createdDttm | date: 'medium' }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedSource }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedSourceType }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedDttm | date: 'medium' }}</td>
                    </tr>
                </ng-template>                
            </p-table>
            
          </div>
           <ng-template pTemplate="paginator"  >
            <div class="custom-paginator1" *ngIf="ispaginatorIsSinglePage">
                <p-paginator [rows]="rowsPerPage.value" [totalRecords]="departmentList.length" (onPageChange)="handlePageChange($event)" [first]="currentPage * rowsPerPage.value" [pageLinkSize]="3"></p-paginator>
                <input pInputText id="currentPageNo" class="paginatorFormElement1" autocomplete="off" [(ngModel)]="updatePage" name="currentPage" #page="ngModel" required [ngStyle]="{'background-color':'transparent'}"/>
                <p-button type="button" label="GO" class="go-btn1" (click)="onClickGo()"/>
            </div>
        </ng-template>

      
    </p-card>
</div>

<app-department-details [selectedDepartment]="selectedDepartment"  [visible]="visible"></app-department-details>
