.card {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height:60vh;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, textarea, p-datepicker{
    width: 100%;
   /* padding: 8px;*/
    border-radius: 4px;
    margin-bottom: 10px;
}

::ng-deep .input{
  border-radius: 0px;
 /* width: 100%;
   padding: 8px;*/
   margin-bottom: 10px;
}

p-select{
    height: 40px;
    width:35%;
}

p-button {
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
}



.flex {
    display: flex;
    gap: 10px;
   /* align-items: center;*/
}

.flex-auto {
    flex: 1;
    margin-bottom: 15px;
}

/*::ng-deep .p-dialog{
    width:70% !important;
}*/

.avatar-container {
    text-align: center;
    width:100%;
    height:40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dadbd9;
    padding: 5px; 
}

.avatar-upload {
    width: 120px;
    height: 120px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

input{
    background-color: #dde2eb;
}

.avatar-preview {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.upload-placeholder {
   
    color:#fff;
    background-color: #0099cc;
    width:40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top:50%;
    
}

.form-container {
    flex: 1;
    margin-left:10px;
}

::ng-deep .form-elements-container {
    max-height: 60vh; /* Adjust as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    scrollbar-width: none;
    margin-bottom: 50%;
    margin-top:5px;
}

.input-Element{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.buttons-container{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px;
    border-top: 1px solid #ccc;
}

::ng-deep .buttons-container {
    position: absolute;
    bottom: 0;
    width: 98%;
    background: white; /* Ensure it doesn't overlap with content */
   /* padding: 10px;*/
    border-top: 1px solid #ccc; /* Optional: adds a separator */
    gap:0px;
  }

  
::ng-deep .p-select, ::ng-deep .p-inputtext {
    border-radius: 0 !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
   /* background-color: 300 !important;*/
}

::ng-deep .p-select{
   /* background-color: #0099cc !important;*/
    border-bottom-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
    color:#fff !important;
    outline: none !important;
   /* background-color: #f0f0f0 !important; */
}

::ng-deep .phone-number .p-select-label{
    color:#000 !important;
}


::ng-deep .p-dialog-content {
    max-height: 70vh !important; /* Adjust based on preference */
    overflow-y: hidden !important; /* Enables vertical scrolling */
    overflow-x: hidden !important;
  }


  ::ng-deep input[type="date"] {
    width: 100% !important;
  }

  ::ng-deep p-datepicker {
    width: 48% !important;
  }
  
  ::ng-deep input.p-inputtext {
    background-color: #f0f0f0 !important; /* Light gray */
  }

  ::ng-deep .p-datepicker {
    width: 100% !important;
  }

 ::ng-deep .p-textarea{
    background-color: #f0f0f0 !important;
  }


  ::ng-deep .submit-model-btn .p-button{
    background-color: #0077aa !important;
    color: white !important;
    border-radius: 5px;
    /*padding: 10px;*/
   
    
  }

  ::ng-deep p-button[_ngcontent-ng-c3216660951] {
    padding:0px !important;
  }


  ::ng-deep .buttons-container[_ngcontent-ng-c3439807804]{
    gap:0px !important;
    padding:0px !important;
  }

  ::ng-deep .cancel-modal-btn .p-button{
  /*  background-color: red !important;*/
  border: 1px solid #d9dbde;
    color: #000 !important;
    border-radius: 5px;
    /*padding: 10px;*/
   /* width: 150px;*/
  }


  ::ng-deep .add-form-modal .p-dialog-header{
    padding:10px;
    padding-left:20px;
   /* background-color: #0099cc;*/
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  /*  color:#fff;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#0077aa;
  }


.custom-dropdown {
  width: 100% !important;
  background-color: #f0f0f0 !important;
  margin-bottom: 10px;
}

.phone-number .p-select-label {
  color: #000 !important;
}

p-button[_ngcontent-ng-c2645148613] {
  /* padding: 10px 20px; */
  border-radius: 4px;
  font-weight: bold;
}

.input-Element {
  min-height: 80px; /* Adjust based on design needs */
  position: relative;
  margin-bottom: 10px;
}
.error-text {
  color: red;
  font-size: 15px;
  position: absolute;
  bottom: -10px; /* Keeps error message fixed in place */
  
}
