

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, textarea, p-datepicker{
    width: 100%;
   /* padding: 8px;*/
    border-radius: 4px !important;
    margin-bottom: 10px;
    height: 40px;
}

textarea{
  height: 100px;
}

::ng-deep .input{
  border-radius: 0px;
 /* width: 100%;
   padding: 8px;*/
   margin-bottom: 10px;
}

p-select{
   
    width:35%;
}

p-button {
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
}



.flex {
    display: flex;
    gap: 10px;
   /* align-items: center;*/
}

.flex-auto {
    flex: 1;
    margin-bottom: 15px;
}



.avatar-container {
    text-align: center;
    width:100%;
    height:40%;
    display: flex;
    flex-direction: column;
   /* justify-content: center;*/
    align-items: center;
    background-color: #dadbd9;
    padding: 10px; 
}

.avatar-upload {
    width: 120px;
    height: 120px;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
}

input{
    background-color: #dde2eb;
}

.avatar-preview {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.upload-placeholder {
   
    color:#fff;
    background-color: #0099cc;
    width:40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top:50%;
    
}

.form-container {
    flex: 1;
    margin-left:10px;
}

::ng-deep .form-elements-container {
    max-height: 60vh; /* Adjust as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
    scrollbar-width: none;
    margin-bottom: 50%;
    margin-top:5px;
    flex-wrap: wrap;
}

.input-Element{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.buttons-container{
    display: flex;
    padding:0px;
    justify-content: flex-end;
  
    border-top: 1px solid #ccc;
}

::ng-deep .buttons-container {
    position: absolute;
    bottom: 0;
    width: 98%;
    background: white; /* Ensure it doesn't overlap with content */
   /* padding: 10px;*/
    border-top: 1px solid #ccc; /* Optional: adds a separator */
    gap:0px;
  }

  
 ::ng-deep .p-inputtext {
    border-radius: 0 !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
   /* background-color: 300 !important;*/
}

span > label {
  color: red;
}


::ng-deep .phone-number .p-select-label{
    color:#000 !important;
}


::ng-deep .p-dialog-content {
    max-height: 70vh !important; /* Adjust based on preference */
    overflow-y: hidden !important; /* Enables vertical scrolling */
    overflow-x: hidden !important;
  }


  ::ng-deep input[type="date"] {
    width: 100% !important;
  }

  
  
  ::ng-deep input.p-inputtext {
    background-color: #f0f0f0 !important; /* Light gray */
    
  }

  ::ng-deep .p-datepicker {
    width: 100% !important;
  }

 ::ng-deep .p-textarea{
    background-color: #f0f0f0 !important;
  }


  ::ng-deep .submit-model-btn .p-button{
    background-color: #0077aa !important;
    color: white !important;
    border-radius: 5px;
    /*padding: 10px;*/
  }

  ::ng-deep .cancel-model-btn .p-button{
    background-color: #0077aa !important;
    color: #000 !important;
    border-radius: 5px;
    /*padding: 10px;*/
  }

  ::ng-deep p-button[_ngcontent-ng-c3216660951] {
    padding:0px !important;
  }


  ::ng-deep .buttons-container[_ngcontent-ng-c3439807804]{
    gap:0px !important;
    padding:0px !important;
  }

  

 /*.add-form-modal{
     background-image: url('https://media.istockphoto.com/vectors/abstract-form-background-vector-id1160194662?k=6&m=1160194662&s=170667a&w=0&h=GRpZOOskXNOKqAItqLt3m1p1F-qPVIGlfpO187Myhoc=') !important;

  }*/

  

  ::ng-deep .add-form-modal .p-dialog-header{
    padding:10px;
    padding-left:20px;
   /* background-color: #0099cc;*/
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  /*  color:#fff;*/
    font-family: 'Roboto';
    color:#0077aa;
    
  }


.custom-dropdown {
  width: 100% !important;
  background-color: #f0f0f0 !important;
  margin-bottom: 10px;
  align-items: center;
  padding-left:10px;
  height: 40px;
}

.phone-number .p-select-label {
  color: #000 !important;
}

p-button[_ngcontent-ng-c2645148613] {
  /* padding: 10px 20px; */
  border-radius: 4px;
  font-weight: bold;
}

.input-Element {
  min-height: 80px; /* Adjust based on design needs */
  position: relative;
  margin-bottom: 10px;
}
.error-text {
  color: red;
  font-size: 15px;
  position: absolute;
  bottom: -14px; /* Keeps error message fixed in place */
}

  .avatar-pg-container {
    text-align: center;
    width:25%;
    height:30vh;
    display: flex;
    flex-direction: column;
   /* justify-content: center;*/
    align-items: center;
    background-color: #dadbd9;
    padding: 10px; 
}



.phone-number-container{
  display: flex;
  width:100%;
   background-color: #dde2eb;
   height: 40px;
}

.phone-number{
  width:20% !important;
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  /* width: auto !important; */
  background-color: transparent !important;
  padding:1px;
  outline: none !important;
  align-items: center;
   height: 40px;
}

::ng-deep .p-radiobutton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border:1px solid #0000;
}

.radio-container{
  display: flex;
  flex-direction: row;
 /* justify-content: center;*/
  align-items: center;
  gap:10px;
}

::ng-deep .p-radiobutton-checked .p-radiobutton-box{
  border-color: #0099cc !important;
 
}

.p-inputtext:disabled{
  background-color: #94a3b8 !important;
}




.radio-label{
  position: relative;
  top:5px;
  font-size:15px;
}

.form-input-element-container{
      width: 48%;
    }

@media (max-width: 1024px) {
    .card {
        width: 90%;
    }

    .table-container {
        height: 40vh;
    }

    .add-btn {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .card {
        width: 85%;
        height: auto;
        padding: 15px;
    }

    .table-container {
        height: 35vh;
    }

    .add-btn {
        font-size: 10px;
    }

    th, td {
        font-size: 12px;
    }


    .form-input-element-container{
      width: 98%;
      padding-bottom: 150px !important;
    }

   ::ng-deep .add-form-modal{
      margin:10px !important;
    }


    .avatar-container[_ngcontent-ng-c1430131815] {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dadbd9;
    padding: 10px;
}

   .avatar-pg-container {
    text-align: center;
    width:100%;
    height:40%;
    display: flex;
    flex-direction: column;
   /* justify-content: center;*/
    align-items: center;
    background-color: #dadbd9;
    padding: 10px; 
}

    .avatar-pg-container{
          margin-left: 30px;
    }
}
@media (max-width: 480px) {
    .card {
        width: 95%;
        padding: 10px;
    }

    .table-container {
        height: 30vh;
    }

    .add-btn {
        font-size: 9px;
    }

    th, td {
        font-size: 10px;
    }
}