::ng-deep .student-details-modal .p-dialog {
  width: 90% !important;
  height: 80vh !important;
 
   background-size: cover;
}

.card {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 50vh;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input, textarea, p-datepicker {
  width: 100%;
  border-radius: 4px !important;
  margin-bottom: 10px;
  background-color: transparent !important;
  height: 40px;
  
}

p-select {
  height: 40px;
  width: 35%;
}

p-button {
  border-radius: 4px;
  font-weight: bold;
}

.flex {
  display: flex;
  gap: 10px;
}

.flex-auto {
  flex: 1;
  margin-bottom: 15px;
}

.avatar-container {
  text-align: center;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #dadbd9;
  padding: 5px;
}

.avatar-upload {
  width: 120px;
  height: 120px;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
}

.avatar-preview {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.upload-placeholder {
  color: #fff;
  background-color: #0099cc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  top: 50%;
}

.form-container {
  flex: 1;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  
  
}

::ng-deep .form-elements-container {

  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: none;
  width: 100%;
  height:80vh;
}

.image-container {
  width: 30%;
  display: flex;
  justify-content: center;
  height: 100%;
  margin-top:20px;
}

.input-Element {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.buttons-container2{
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  padding: 10px;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

::ng-deep .p-select, ::ng-deep .p-inputtext {
  border-radius: 5px !important;
}

::ng-deep .p-select {
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  color: #000 !important;
  outline: none !important;
}

::ng-deep .phone-number{
  width:100% !important;
}
::ng-deep .phone-number .p-select-label {
  color: #000 !important;
}



::ng-deep input[type="date"], ::ng-deep .p-datepicker {
  width: 100% !important;
}

::ng-deep input.p-inputtext, ::ng-deep .p-textarea {
  background-color: transparent !important;
  color: #000;
}

::ng-deep .buttons-container2 .submit-model-btn .p-button{
  background-color: #0099cc !important;
  color: white; 
  border-radius: 5px; 
 
}

::ng-deep .submit-model-btn1 .p-button  {
  color: white !important;
  border-radius: 5px;
  height: 30px;
  margin: 0px;
  margin-top: 5px;
  background-color: #0099cc !important;

}

::ng-deep .cancel-modal-btn .p-button {
  color: #000 !important;
  border-radius: 5px;
  margin-left: 5px;
    margin-top: 5px;
    height: 30px;
  
  
}
::ng-deep .add-form-modal .p-dialog-header {
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font-family: 'Roboto';
  color: #0077aa;
}

::ng-deep .student-details-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

::ng-deep .p-dialog-header{
  padding:0px !important;
  padding-left:10px !important;
  padding-right:10px !important;
   background-color: transparent !important;
}


::ng-deep .depart-modal .p-dialog {
  width: 90rem !important;
  max-width: 100%;
  height: 80vh;
 
  color:#000;
}

.department-details strong {
  color: #0077aa;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  width: 100%;
  max-height: 70vh;
  padding-bottom: 50px;
}

.form1-container{
  flex: 1;
  display: flex;
  flex-direction: row; 
  width: 100%;
}

.details-form-container{
  width:100%;
  
  gap: 10px;
  padding: 10px;
  overflow-y: auto;
  width: 100%;
  max-height: 70vh;
}

::ng-deep .back-dept-button .p-button {
  color: #000;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  border: 1px solid #dadbd9;
  height: 30px;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
  font-weight: bold;
}

.detail-row strong {
  width: 50%;
  text-align: left;
  font-family: 'Roboto';
}

.detail-row span {
  width: 50%;
  text-align: left;
  padding-left: 10px;
  font-weight: 500 !important;
}

::ng-deep .p-dialog .p-dialog-title {
  font-size: 20px;
  font-weight: bold;
  color: #000 !important;
  text-align: center;
  padding: 10px;
  background-color: transparent !important;
}

 .input-element-container{
  width:48% !important;
}

.p-iconwrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000 !important;
}



.error-text {
  color: red;
  font-size: 15px;
  
  width:48%;
  margin-bottom: 5px;
}


.p-inputtext:disabled{
    background-color: #d3d3d3 !important;
  color: #808080 !important;
  height: 40px;
  border-radius: 5px;
}

textarea{
  height: 50%;
}

:host ::ng-deep .p-dialog-content {
        overflow-y: none !important;
}


::ng-deep .p-datepicker-day{
    justify-content: center !important;
}

::ng-deep .p-datepicker-today > .p-datepicker-day {
    background: var(--p-datepicker-today-background);
    color: var(--p-datepicker-today-color);
    justify-content: center;
}

.custom-dropdown{
  width:100% !important;
}

.p-datepicker-weekday-cell {
    padding: var(--p-datepicker-week-day-padding);
    text-align: center;
}


@media screen and (max-width: 1024px) {
  .department-details {
      width: 80%;
  }

  .input-element-container{
  width:48% !important;
}
}

@media screen and (max-width: 768px) {
  .department-details {
      width: 100%;
      padding: 15px;
  }

  .department-details h2 {
      font-size: 18px;
  }

  .department-details p {
      font-size: 14px;
  }

.form1-container {
  flex: 1;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom:30px;
  /*border: 1px solid #000;*/
}

::ng-deep .p-dialog .p-dialog-title {
    font-size: 10px !important;
    font-weight: bold;
    color: #000 !important;
    text-align: center;
    padding: 0px;
    
}

::ng-deep .p-dialog-content {
     overflow-y: none !important;
}

::ng-deep .p-dialog-title {
  font-size:15rem !important;
}

::ng-deep .student-details-image {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  
}

.input-element-container{
  width:100% !important;
}

.buttons-container2{
  width:99%;
  border-bottom-left-radius: 10px;
   padding-right: 0px;
}

.form-container {
  /* Adjust as needed */
  overflow-y: auto;
}

input{
  border-radius: 5px;
}


.error-text{
  width:100%;
}
}


.p-select {
  /* border-bottom-left-radius: 5px !important; */
  /* border-top-left-radius: 5px !important; */
  color: #000 !important;
  outline: none !important;
  border-radius: 5px !important;
  /* width: auto !important; */
  background-color: transparent !important;
}

