

<!--<div class="card flex justify-center">-->
    <p-dialog header="Add New User" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '100vh', '575px': '100%' }" [style]="{width:'70%' }" [draggable]="false" [resizable]="false">
        <hr/>
        <form #dialogForm="ngForm" (ngSubmit)="onSubmitDialogue()" [ngStyle]="{'height':'50%'}">
            <div class="flex gap-4 form-elements-container">
            <!-- Avatar Upload Container -->
            <div [ngStyle]="{'padding':'5px'}">
                <div class="avatar-container">
                    <div class="avatar-upload" (click)="openUploadDialog()">
                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Avatar" class="avatar-preview"/>
                        <div *ngIf="!imageUrl" class="upload-placeholder">+</div>
                    </div>
                    <label [ngStyle]="{'margin-top':'15px'}">Max file 2MB<br/> Supporting formats: JPG, PNG</label>
                    <input type="file" id="fileInput" (change)="onFileSelected($event)" accept="image/png, image/jpeg" hidden name="image" required/>
                </div>
            </div>
            <!-- Form Container -->
            <div class="form-container">
                <h3>Basic Details</h3>
                <div>
                    <div [ngStyle]="{ 'margin':'5px'}">
                        <label for="username">Student ID<br/></label>
                        <input type="text" pInputText [(ngModel)]="stuId" id="username" name="id" required disabled="true"/>
                    </div>
                    <div class="input-Element">
                        <div [ngStyle]="{'width':'48%', 'margin':'5px'}">
                            <label for="firstname">First Name<br/></label>
                            <input type="text" pInputText [(ngModel)]="user.firstname" id="firstname" name="firstname" required/>
                        </div>
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="lastname">Last Name <br/></label>
                            <input type="text" pInputText [(ngModel)]="user.lastname" id="lastname" name="lastname" required/>
                        </div>
                    </div>
                    <div class="input-Element">
                        <div [ngStyle]="{'width':'48%', 'margin':'5px'}">
                            <label for="email">Email<br/></label>
                            <input type="email" pInputText [(ngModel)]="user.email" id="firstname" name="email" email required/>
                        </div>
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="lastname">Gender <br/></label>
                            <div class=" flex justify-center">
                                <div class="flex flex-col gap-4">
                                    <div *ngFor="let category of categories" class="field-checkbox flex">
                                        <p-radiobutton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="user.selectedCategory" size="small" required/>
                                        <label [for]="category.key" class="ml-2">{{ category.name }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="input-Element" >
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="dob">Date Of Birth<br/></label>
                            <input  pInputText type="date" [(ngModel)]="user.dob" inputId="dob"  name="dob" [ngStyle]="{'width':'100%'}" required/>
                        </div>
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="phonenumber">Phone Number <br/></label>
                            <div [ngStyle]="{'width':'100%'}">
                                <p-select [options]="countryPhoneCodes" [(ngModel)]="user.selectedCity" [checkmark]="false" optionLabel="code" [showClear]="false" name="selectedCity" />
                                <input type="number" pInputText  [(ngModel)]="user.phoneNumber" name="phoneNumber" [ngStyle]="{'width':'65%'}" required/> 
                            </div>
                        </div>
                    </div>
                    <div class="input-Element" >
                       
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="departmentId">DepartmentId<br/></label>
                            <input pInputText [(ngModel)]="user.departmentId" inputId="departmentId" name="departmentId"  required/>
                        </div>
                      <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="phonenumber">Department  <br/></label>
                            <input type="text" pInputText  [(ngModel)]="dept" name="department" disabled="true"/> 
                        </div>
                    </div>
                    <div class="input-Element" >
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="dob">Date Of Joining <br/></label>
                            <p-datepicker [(ngModel)]="user.dateOfJoining" inputId="dob" [showIcon]="true" name="dateOfJoining" [ngStyle]="{'width':'600px'}" required/>
                        </div>
                    </div>
                  <div class="input-Element" >
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="createdSourceType">Created Source Type <br/></label>
                            <input pInputText [(ngModel)]="user.createdSourceType" id="createdSourceType" class="w-full md:w-56"  name="createdSourceType" disabled/>
                        </div>
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="createdDttm">CreatedDttm   <br/></label>
                            <p-datepicker [(ngModel)]="user.createdDttm" inputId="createdDttm" [showIcon]="true" name="createdDttm" />
                        </div>
                    </div>
                    <div class="input-Element" >
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="modifiedResource">Modified Source <br/></label>
                            <input type="text" pInputText id="modifiedResource"  [(ngModel)]="user.modifiedResource" name="modifiedResource" disabled/> 
                        </div>
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="modifiedSourceType">Modified Source Type    <br/></label>
                            <input type="text" pInputText id="modifiedSourceType"  [(ngModel)]="user.modifiedSourceType" name="modifiedSourceType" disabled/> 
                        </div>
                    </div>
                    <div class="input-Element" >
                        <div [ngStyle]="{'width':'48%','margin':'5px'}">
                            <label for="modifiedDttm">Modified Dttm  <br/></label>
                            <input pInputText id ="modifiedDttm" [(ngModel)]="user.modifiedDttm"   class="w-full md:w-56" [ngStyle]="{'width':'100%'}" name="modifiedDttm"/>
                        </div>
                    </div>
                </div>
                <div class="input-Element" >
                    <div [ngStyle]="{'width':'48%','margin':'5px','height':'10vh'}">
                       
                    </div>
                </div>
                
                  
                </div>
            </div>
            <hr/>
            <div class="buttons-container">
                <p-button label="Cancel" severity="secondary" (click)="visible = false" class="cancel-btn"/>
                <p-button label="Save" type="submit"  />
            </div>
        </form>
    </p-dialog>
<!--</div>-->

