.form-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: 300;
    
}

::ng-deep .p-card{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

.w-full{
    width:40%;
    height: 10%;
    margin-left: 30%;
}

::ng-deep .ng-template{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.p-card-header{
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
}

.heading-elements{
    text-align: center;
}

::ng-deep .p-password{
    width:100%;
}

.p-inputtext{
    width:100%;
}

::ng-deep .p-password input {
  /*  background-color: lightgray;*/
    border-radius: 5px;
    padding: 10px;
    width:100%;
    margin-top:5px;
}

::ng-deep .p-button{
    width:97%;
    margin-top:10px;
}

.signup-btn{
    background-color: transparent;
    border: none;
    margin:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0099cc;
    font-weight: bold;
}