
<div class="card">
    <p-table [value]="studentList" stripedRows [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th>StudentId</th>
                <th>First name </th>
                <th>Last name </th>
                <th>Dob</th>
                <th>Gender</th>
                <th>PhoneNumber</th>
                <th>DateOfJoining</th>
                <th>CreatedSource </th>
                <th>CreatedSourceType</th>
                <th>CreatedDttm </th>
                <th>ModifiedSource </th>
                <th>ModifiedSourceType </th>
                <th>ModifiedDttm</th>
            </tr>
        </ng-template>
        <ng-template #body let-product let-i="index">
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.firstname}}</td>
                <td>{{product.lastname}}</td>
                <td>{{product.dob}}</td>
                <td>{{product.selectedCategory["name"]}}</td>
                <td>{{product.gender}}</td>
                <td>{{product.phoneNumber}}</td>
                <td>{{product.dateOfJoining}}</td>
                <td>{{product.createdSource}}</td>
                <td>{{product.createdSourceType}}</td>
                <td>{{product.createdDttm}}</td>
                <td>{{product.modifiedResource}}</td>
                <td>{{product.modifiedSourceType}}</td>
                <td>{{product.modifiedDttm}}</td>
                <td>
                    <button type="button" (click)="onDeleteRecord(product.id)">Delete</button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
