::ng-deep .p-dialog-content {
    max-height: 70vh !important; /* Adjust based on preference */
    overflow-y: hidden !important; /* Enables vertical scrolling */
    overflow-x: hidden !important;
    font-family: "Roboto";
}




::ng-deep .add-attendance-form-modal .p-dialog-header{
    padding:10px;
    padding-left:0px;
   /* background-color: #0099cc;*/
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  /*  color:#fff;*/
    font-family: 'Roboto';
    color:#000;
  }

::ng-deep .p-dialog .p-dialog-title{
  color:#000;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.p-select, .p-inputtext{
  border-radius: 5px !important;
  background-color: transparent !important;
   width: 100%;
   /* padding: 8px;*/
    border-radius: 4px;
    margin-bottom: 10px;
    color:#000 !important;
}

.flex-auto {
    flex: 1;
    margin-bottom: 15px;
}

/*::ng-deep .p-dialog{
    width:70% !important;
}*/

.form-container6{
    flex: 1;
    overflow-y: auto;
    height: 100%;
    max-height: 60vh;
    scrollbar-width: none;
    margin-bottom: 40px;
    padding:10px;
}

.input-Element{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


::ng-deep .buttons-containerA {
    position: absolute;
    bottom: 0;
    width: 99%;
    background: white; 
   /* padding: 10px;*/
    border-top: 1px solid #ccc; /* Optional: adds a separator */
    gap:0px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px;
    font-family: "Roboto";
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
  }

  
 /* ::ng-deep input.p-inputtext {
    background-color: #f0f0f0 !important; 
    border-radius: 5px;
  }*/

  
 


  ::ng-deep .submit-model-btn .p-button{
    background-color: #0077aa !important;
    color: white !important;
    border-radius: 5px;
    /*padding: 10px;*/
   
    
  }

  ::ng-deep p-button[_ngcontent-ng-c3216660951] {
    padding:0px !important;
  }


  ::ng-deep .buttons-containerA[_ngcontent-ng-c3439807804]{
    gap:0px !important;
    padding:0px !important;
  }

  ::ng-deep .cancel-modal-btn .p-button{
  /*  background-color: red !important;*/
  border: 1px solid #d9dbde;
    color: #000 !important;
    border-radius: 5px;
    /*padding: 10px;*/
   /* width: 150px;*/
  }


  
input{
 height:40px !important;
 border-radius:5px !important;
}
.custom-dropdownA {
  width: 100% !important;
  background-color: transparent !important;
  margin-bottom: 10px;
  border-radius: 5px !important;
  height:40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left:5px;
}

.phone-number .p-select-label {
  color: #000 !important;
}

p-button[_ngcontent-ng-c2645148613] {
  /* padding: 10px 20px; */
  border-radius: 4px;
  font-weight: bold;
}

.input-Element {
  min-height: 90px !important;
  position: relative;
  margin-bottom: 10px;
}
.error-text {
  color: red;
  font-size: 15px;
  position: absolute;
  bottom: -14px; 
  margin-top: 5px;
}



.attendance-input-container{
  width:48% !important;
  margin-right:5px;
}

.p-inputtext:disabled{
  background-color: #d3d3d3 !important;
  color: #808080 !important;
  height: 40px;
  border-radius: 5px;
}


@media (max-width:765px){
  .validate-student-dialog .p-dialog {
    font-family: "Roboto";
    width: 100% !important;
    margin: 10px !important;
}


.attendance-input-container{
  width:100% !important;
}

::ng-deep .buttons-containerA {
   position: absolute;
        bottom: 0;
        width: 93%;
        background: white;
        border-top: 1px solid #ccc;
        gap: 0px;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        padding: 10px;
        font-family: "Roboto";
        border-radius: 5px;
  }


}