

<!--<div class="card flex justify-center">-->
    <p-dialog header="Add Attendance" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '100vh', '575px': '100%' }" [style]="{width:'80%' }" [draggable]="false" [resizable]="false" class="add-attendance-form-modal"> 
        <hr/>
        <form #ngAttendanceForm = "ngForm" (ngSubmit) = "OnSubmitAttendance()">
            <div class="form-container">
                <div class="input-Element">
                    <div [ngStyle]="{'width':'48%', 'margin':'5px'}">
                        <label for="studentId">Student ID<br/></label>
                        <input type="text" pInputText [(ngModel)]="user.studentId" id="studentId" name="studentId" required placeholder="Enter Your Student ID" #studentId="ngModel" disabled="true"/>
                        <div class="error-text">
                            <span *ngIf="studentId.invalid && studentId.touched" >Student ID is required</span>
                        </div>
                    </div>
                    <div [ngStyle]="{'width':'48%', 'margin':'5px'}">
                        <label for="month" class="font-semibold w-24">Month</label>
                        <div>
                            <p-select 
                                [(ngModel)]="user.month" 
                                [options]="months" 
                                optionLabel="name" 
                                optionValue="value"
                                name="month"
                                class="custom-dropdown"
                                [appendTo]="'body'" 
                                required #month="ngModel"/>
                            <div *ngIf="month.invalid && month.touched" class="error-text">Month is required</div>
                        </div>
                    </div>
                </div>
                <div class="input-Element">
                    <div [ngStyle]="{'width':'48%', 'margin':'5px'}">
                        <label for="year">Year<br/></label>
                        <input type="text" pInputText [(ngModel)]="user.year" id="year" name="year" required  #year="ngModel"/>
                        <div class="error-text">
                            <span *ngIf="year.invalid && year.touched" >Year is required</span>
                        </div>
                    </div>
                    <div [ngStyle]="{'width':'48%','margin':'5px'}">
                        <label for="departmentId">Department ID* <br/></label>
                        <input type="text" pInputText [(ngModel)]="user.departmentId" id="departmentId" name="departmentId" required placeholder="Enter Your departmentId" #departmentId="ngModel"  disabled="true"/>
                       <div class="error-text">
                        <span *ngIf="departmentId.invalid && departmentId.touched" >DepartmentId is required</span>
                        </div>
                    </div>
                </div>
                <div class="input-Element">
                    <div [ngStyle]="{'width':'48%', 'margin':'5px'}">
                        <label for="departmentName">Department Name<br/></label>
                        <input type="text" pInputText [(ngModel)]="user.departmentName" id="departmentName" name="departmentName" required placeholder="Enter Your Department Name" #departmentName="ngModel"/>
                        <div class="error-text">
                            <span *ngIf="departmentName.invalid && departmentName.touched" >departmentName is required</span>
                        </div> 
                    </div>
                    <div [ngStyle]="{'width':'48%','margin':'5px'}">
                        <label for="attendanceCount">Attendance Count <br/></label>
                        <input type="text" pInputText [(ngModel)]="user.attendanceCount" id="attendanceCount" name="attendanceCount" required placeholder="Enter Your Attendance count" #attendanceCount="ngModel" />
                       <div class="error-text">
                        <span *ngIf="attendanceCount.invalid && attendanceCount.touched" >Attendance Count is required</span>
                        <span *ngIf = "user.attendanceCount > attendanceDays">Attendance Count cannot exceed {{ attendanceDays }} days</span>
                        </div>
                    </div>
                </div>
                <div class="input-Element">
                    <div [ngStyle]="{'width':'48%', 'margin':'5px'}">
                        <label for="createdSource">Created Source<br/></label>
                        <input type="text" pInputText [(ngModel)]="user.createdSource" id="createdSource" name="createdSource" required placeholder="Enter Your Created Source" #createdSource="ngModel"  disabled="true"/>
                        <div class="error-text">
                            <span *ngIf="createdSource.invalid && createdSource.touched" >Created Datetime is required</span>
                        </div>
                    </div>
                    <div [ngStyle]="{'width':'48%', 'margin':'5px'}">
                        <label for="createdSourceType">Created Source Type<br/></label>
                        <input type="text" pInputText [(ngModel)]="user.createdSourceType" id="createdSourceType" name="createdSourceType" required placeholder="Enter Your Created Source Type" #createdSourceType="ngModel"  disabled="true"/>
                        <div class="error-text">
                            <span *ngIf="createdSourceType.invalid && createdSourceType.touched" >Created Source Type is required</span>
                        </div>
                    </div>
                </div>
                <div class="input-Element">

                    <div [ngStyle]="{'width':'48%','margin':'5px'}">
                        <label for="createdDttm">Created Datetime <br/></label>
                        <input type="text" pInputText [(ngModel)]="user.createdDttm" id="createdDttm" name="createdDttm" required placeholder="Enter Your Created Datetime" #createdDttm="ngModel"  disabled="true"/>
                       <div class="error-text">
                        <span *ngIf="createdDttm.invalid && createdDttm.touched" >createdDttm is required</span>
                        </div>
                    </div>

                    <div [ngStyle]="{'width':'48%','margin':'5px'}">
                        <label for="modifiedSource">Modified Source <br/></label>
                        <input type="text" pInputText [(ngModel)]="user.modifiedSource" id="modifiedSource" name="modifiedSource" required placeholder="Enter Your Modified Source" #modifiedSource="ngModel"  disabled="true"/>
                       <div class="error-text">
                        <span *ngIf="modifiedSource.invalid && modifiedSource.touched" >modifiedSource is required</span>
                        </div>
                    </div>

                </div>
                           
                <div class="input-Element">
                    <div [ngStyle]="{'width':'48%', 'margin':'5px'}">
                        <label for="modifiedSourceType">Modified Source Typee<br/></label>
                        <input type="text" pInputText [(ngModel)]="user.modifiedSourceType" id="modifiedSourceType" name="modifiedSourceType" required  #modifiedSourceType="ngModel"  disabled="true"/>
                        <div class="error-text">
                            <span *ngIf="modifiedSourceType.invalid && modifiedSourceType.touched" >modifiedSourceType is required</span>
                        </div>
                       
                    </div>
                    <div [ngStyle]="{'width':'48%','margin':'5px'}">
                        <label for="modifiedDttm">Modified Datetime <br/></label>
                        <input type="text" pInputText [(ngModel)]="user.modifiedDttm" id="modifiedDttm" name="modifiedDttm" required  #modifiedDttm="ngModel" disabled="true"/>
                       <div class="error-text">
                        <span *ngIf="modifiedDttm.invalid && modifiedDttm.touched" >modifiedDttm is required</span>
                        </div>
                    </div>
                </div>  
            </div>
            <hr/>
            <div class="buttons-container">
                <p-button label="Save" type="submit" class="submit-model-btn" [disabled]="ngAttendanceForm.invalid"></p-button>
            </div>
            
        </form>

       
    </p-dialog>
<!--</div>-->

<p-toast/>