body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

/* Card Container */
.card1 {
    position: absolute !important;
    z-index: 2 !important;
    top: 25vh;
    width: calc(100% - 50px);
    background-color: transparent;
    margin-left: calc(10px + 1%);
    margin-right: calc(10px + 2%);
    padding-bottom: 5px !important;
}

/* Table Container */
.table-container {
    width: 100%;
    overflow-x: auto;
    height: 45vh;
    border: none;
    scrollbar-width: none;

}

/* Table & Card Styles */
::ng-deep .p-card {
    border-radius: 0px !important;
    width: 100%;
    height: 61.5vh;

}

::ng-deep .p-table {
    width: 80% !important;
}

/* Buttons */
.add-btn {
    background-color: #0077aa;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
    margin-left: 5px !important;
    font-weight: bold !important;
    height: 40px;
}

/* No Records Message */
.no-records-container {
    text-align: center;
    padding-top: 30px;
    font-family: "Roboto";
    font-weight: bold;
    font-style: italic;
}

/* Delete Button */
.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Confirmation Box */
.confirm-box-card {
    width: 30% !important;
}

::ng-deep .p-confirmdialog {

    width: 40% !important;
    height: 20%;

}

::ng-deep .p-confirmdialog.p-dialog-content {
    font-family: "Roboto";
    color: #000;
    font-weight: bold;
    padding-bottom: 10px;
}

/* Dialog Styling */
::ng-deep .p-dialog {
    background-color: #fff;
}

::ng-deep .validate-student-dialog1 .p-dialog {
    font-family: "Roboto";
    background-color: #fff;
    width: 35% !important;
}

::ng-deep .validate-student-dialog1 .p-dialog-title {
    font-weight: bold;
    color: #0077aa;
    font-family: "Roboto";
    font-size: 18px !important;
    /* margin-left: 10px;*/
}

/* Button Container */
.add-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Text Alignment */
td,
th {
    text-align: center !important;
    font-family: "Roboto";
}

/* Paginator */
:host ::ng-deep .paginator-btn {
    border-radius: 5px;
    height: 39px;
    color: #fff !important;
    background-color: transparent !important;
    margin-bottom: 5px;
}

:host ::ng-deep .p-paginator-page,
:host ::ng-deep .p-paginator-next,
:host ::ng-deep .p-paginator-last,
:host ::ng-deep .p-paginator-first,
:host ::ng-deep .p-paginator-prev {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    height: 30px !important;
}

/* Header */
.header-element {
    margin-left: 3%;
    color: #fff !important;
    font-family: "Roboto";
    font-size: 2rem;
    margin-left: 30px;
}

/* Search Container */
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    background-color: transparent;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.search-container i {
    margin-right: 10px;
    color: #555;
    font-size: 18px;
    margin-left: 10px;
}

.search-container input {
    border: none;
    outline: none;
    width: 100%;
}

.card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

::ng-deep .p-paginator {
    gap: 0px !important;
    padding-right: 0px !important;

}

:host ::ng-deep .p-paginator-page,
.p-paginator-next,
.p-paginator-last,
.p-paginator-first,
.p-paginator-prev {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    height: 30px !important;
    padding: 0px !important;

}

:host ::ng-deep .p-paginator-first {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-right: none !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    height: 30px !important;
    padding: 0px !important;
}

:host ::ng-deep .p-paginator-prev,
.p-paginator-next {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-right: none !important;
    height: 30px !important;
    padding: 0px !important;

}

:host ::ng-deep .p-paginator-page {
    gap: none !important;
    border-right: 0px !important;
    height: 30px !important;

}

:host ::ng-deep .p-paginator-pages {
    gap: 0px !important;
    height: 30px !important;
}

:host ::ng-deep .p-paginator-next {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-right: none !important;
    height: 30px !important;
}

:host ::ng-deep .p-paginator-last {
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    height: 30px !important;
}

:host ::ng-deep .p-paginator-page.p-paginator-page-selected {
    background-color: #0077aa !important;
    color: #FFFF !important;
    height: 30px !important;
}



:host ::ng-deep .paginatorFormElement {
    /*   position: absolute;
    right:2%;*/
    height: 30px !important;
    padding: 0px;
    margin: 5px;
    margin-top: 5px !important;
    width: 35px;
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
}

::ng-deep .p-datatable-tbody>tr:hover {
    background-color: #d5ddeb !important;
    color: #000 !important;
}

::ng-deep .p-datatable-tbody>tr>td {
    padding: 8px !important;
}

::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd) {
    background: #F0F0F0 !important;
    border-color: #F2F2F2 !important;
}

::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd):hover {
    background: #F0F0F0 !important;
    border-color: #F2F2F2 !important;
    background-color: #d5ddeb !important;
    padding: 0px !important;
    color: #fff;
}

::ng-deep .p-confirmdialog-accept-button {
    height: 30px !important;
    background-color: #0077aa !important;
    color: #fff !important;

}

::ng-deep .custom-paginator {
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

::ng-deep .go-btn .p-button {
    height: 30px !important;
    background-color: #0077aa !important;
}

::ng-deep .p-inputtext.ng-invalid.ng-dirty {
    border-color: #d9dbde !important;
}

.student-form-elements {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.input-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    font-family: "Roboto";
    padding-bottom: 5px;
}

.flex-auto {
    width: 100%;
    height: 40px;
}

.custom-dropdown1 {
    width: 100% !important;
    margin-top: 5px;
    margin-bottom: 10px;
    /* background-color: #f0f0f0 !important;*/
    border-radius: 0px;
    background-color: transparent !important;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error-text {
    color: red;
}

::ng-deep .validate-student-dialog1 .p-dialog .p-dialog-header {
    padding-left: 0px !important;
}

::ng-deep .cancel-btn .p-button {
    color: #000 !important;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #d9dbde !important;
    margin-top: 10px;
    height: 30px;
}

::ng-deep .cancel-btn .p-button:not(:disabled):hover {
    background-color: #fff !important;
}

::ng-deep .submit-btn .p-button {
    background-color: #0077aa !important;
    color: white !important;
    border-radius: 5px;
    margin-top: 10px;
    height: 30px;
}

::ng-deep .p-confirmdialog .p-dialog-content {
    font-family: "Roboto";
    color: #000;
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
}

::ng-deep .p-icon {
    height: 13px !important;
}


.header-element {
    color: #fff !important;
    font-family: 'Roboto';
    font-size: 1.5rem;
    margin-left: 30px;
    padding-top: 10px;
}

.fa-solid {
    font-size: 1.5rem;
    margin-right: 5px;
}

/* Responsive Adjustments */
@media (min-width:770px) and (max-width: 1024px) {
    .card1 {
        position: absolute !important;
        z-index: 2 !important;
        top: 25vh;
        width: calc(100% - 50px);
        background-color: transparent;
        margin-left: calc(10px + 1%);
        margin-right: calc(10px + 1%);
        padding-bottom: 5px !important;
    }

    ::ng-deep .p-card {
        height: 63vh;
        width: 84vh !important;
    }

    .table-container {
        height: 51vh;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    th,
    td {
        font-size: 14px;
        padding: 8px;
    }

    .add-btn {
        /*  width: 120px !important;*/
        font-size: 12px;
    }

    ::ng-deep .validate-student-dialog1 .p-dialog {
        font-family: "Roboto";
        background-color: #fff;
        width: 60% !important;
        padding: 5px;
    }

    ::ng-deep .p-confirmdialog.p-dialog {
        width: 50% !important;
    }

}



@media (min-width: 577px) and (max-width: 769px) {
    .card1 {
        position: absolute !important;
        z-index: 2 !important;
        margin: 0px !important;
        width: 100% !important;
        background-color: transparent;
        top: 25vh !important;
        border-radius: 30px !important;
        padding-bottom: 5px;


    }

    ::ng-deep .p-card {
        height: 63vh;
        width: 95vh !important;
        margin-left: 15px;
    }

    .paginator-btn {
        /*   width: 80px !important;*/
        border-radius: 5px;
        height: 30px;
        color: #fff !important;
        outline: none !important;
        border-radius: 5px !important;
        /* width: auto !important; */
        background-color: transparent !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .add-btn {
        font-size: 9px;
        background-color: #0077aa !important;
        margin-bottom: 5px !important;
        border-radius: 5px !important;
        margin-left: 5px !important;
        font-weight: bold !important;
        height: 30px;
    }

    .table-container {
        height: 43vh !important;
        width: 100%;
        overflow-x: auto;
        border: none;
        scrollbar-width: none;
    }

    .no-records-container {
        text-align: center;
        padding-top: 30px;
        font-family: "Roboto";
        font-weight: bold;
        font-style: italic;
    }

    ::ng-deep .custom-paginator {
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-end !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        margin-top: 38px;
    }

    ::ng-deep .go-btn .p-button {
        height: 30px !important;
        font-size: 10px;
        background-color: #0077aa !important;

    }

    ::ng-deep .p-inputtext.ng-invalid.ng-dirty {
        border-color: #d9dbde !important;
    }

    :host ::ng-deep .p-paginator {
        gap: 0px !important;
        height: 30px;
        padding: 0px;
    }

    :host ::ng-deep .p-paginator-page,
    .p-paginator-next,
    .p-paginator-last,
    .p-paginator-first,
    .p-paginator-prev {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        height: 30px !important;
        min-width: 30px !important;

    }

    :host ::ng-deep .p-paginator-first {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-right: none !important;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        height: 30px !important;
        min-width: 30px !important;
    }

    :host ::ng-deep .p-paginator-prev,
    .p-paginator-next {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-right: none !important;
        height: 30px !important;
        min-width: 30px !important;
    }

    :host ::ng-deep .p-paginator-page {
        gap: none !important;
        border-right: 0px !important;
        height: 30px !important;
        min-width: 30px !important;
    }

    :host ::ng-deep .p-paginator-pages {
        gap: 0px !important;
        height: 30px !important;
        min-width: 30px !important;
    }

    :host ::ng-deep .p-paginator-next {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-right: none !important;
        height: 30px !important;
        min-width: 30px !important;
    }

    :host ::ng-deep .p-paginator-last {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        height: 30px !important;
        min-width: 30px !important;
    }

    :host ::ng-deep .p-paginator-page.p-paginator-page-selected {
        background-color: #0077aa !important;
        color: #FFFF !important;
        height: 30px !important;
        min-width: 30px !important;
    }



    ::ng-deep .validate-student-dialog1 .p-dialog-title {
        font-weight: bold;
        color: #0077aa;
        font-family: "Roboto";
        font-size: 18px;
        /* margin-left: 10px;*/
    }



    :host ::ng-deep .paginatorFormElement {
        /*   position: absolute;
    right:2%;*/
        height: 30px !important;
        padding: 0px;
        width: 30px;
        padding: 5px;
        text-align: center;
        border: 1px solid #000;
    }

    ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd) {
        background: #F0F0F0 !important;
        border-color: #F2F2F2 !important;
    }

    ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd):hover {
        background: #F0F0F0 !important;
        border-color: #F2F2F2 !important;
        background-color: #d5ddeb !important;
        padding: 10px !important;
        color: #000;
    }

    ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even):hover {
        background-color: #d5ddeb !important;
        padding: 10px !important;
        color: #000;
    }

    th,
    td {
        font-size: 10px;
        padding: 5px;

    }

    .confirm-box-card {
        width: 70% !important;
    }

    ::ng-deep .validate-student-dialog1 .p-dialog {
        font-family: "Roboto";
        background-color: #fff;
        width: 60% !important;
    }

    ::ng-deep .validate-student-dialog1 .p-dialog-title {
        color: white;
        font-weight: bold;
        color: #0077aa;
        font-family: "Roboto";
        font-size: 20px;
        margin-left: 10px;

    }

    ::ng-deep .cancel-btn .p-button {
        color: #000 !important;
        border-radius: 5px;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #d9dbde !important;
        margin-top: 10px;
        height: 30px;
    }

    ::ng-deep .submit-btn .p-button {
        background-color: #0077aa !important;
        color: white !important;
        border-radius: 5px;
        margin-top: 10px;
        height: 30px;
    }



    .delete-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    ::ng-deep .p-confirmdialog {
        width: 60% !important;
    }


    ::ng-deep .p-confirmdialog .p-dialog-content {
        font-family: "Roboto";
        color: #000;
        font-weight: bold;
    }



    .custom-dropdown1 {
        width: 100% !important;
        margin-top: 5px;
        margin-bottom: 10px;
        /* background-color: #f0f0f0 !important;*/
        border-radius: 0px;
        background-color: transparent !important;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .p-dialog-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        padding: 5px;
        padding: 0px;
        /* padding-left: 20px !important;*/
    }

    .header-element {
        color: #fff !important;
        font-family: 'Roboto';
        font-size: 1rem;
        margin-left: 30px;
        padding-top: 10px;
    }

    .fa-solid {
        font-size: 15px;
        margin-right: 5px;
    }

    ::ng-deep .p-datatable-tbody>tr>td {
        padding: 8px !important;
        cursor: pointer !important;
    }

    ::ng-deep .p-datatable-thead>tr>th {
        padding: 8px !important;
    }

    .student-heading {
        font-size: 19px !important;
    }

    .p-confirmdialog {
        width: 60% !important;
    }

    ::ng-deep .p-confirmdialog .p-dialog-content {
        font-family: "Roboto";
        color: #000;
        font-weight: bold;
        font-size: 10px;
        margin-left: 10px;
    }

    :host ::ng-deep .p-toast {
        width: 60% !important;
    }

    :host ::ng-deep .p-icon {
        height: 10px;
    }

}

@media (max-width: 576px) {
    .card1 {
        position: absolute !important;
        z-index: 2 !important;
        margin: 10px !important;
        margin-left: 8px !important;
        width: 95% !important;
        background-color: transparent;
        top: 26vh !important;
        border-radius: 30px !important;
        padding-bottom: 5px;
    }

    ::ng-deep .p-card {
        height: 65vh;
    }

    .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .student-form-elements {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .search-container {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 5px;
        border-radius: 5px;
        width: 250px;
        background-color: transparent;
        height: 30px;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .search-container i {
        margin-right: 10px;
        color: #555;
        align-self: center;
        font-size: 18px;
        margin-left: 5px;
    }

    .search-container input {
        border: none;
        outline: none;
        width: 100%;
    }

    .paginator-btn {
        /*   width: 80px !important;*/
        border-radius: 5px;
        height: 30px;
        color: #fff !important;
        outline: none !important;
        border-radius: 5px !important;
        /* width: auto !important; */
        background-color: transparent !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .add-btn {
        font-size: 9px;
        background-color: #0077aa !important;
        margin-bottom: 5px !important;
        border-radius: 5px !important;
        margin-left: 5px !important;
        font-weight: bold !important;
        height: 30px;
    }

    .table-container {
        height: 30vh !important;
        width: 100%;
        overflow-x: auto;
        border: none;
        scrollbar-width: none;
    }

    .no-records-container {
        text-align: center;
        padding-top: 30px;
        font-family: "Roboto";
        font-weight: bold;
        font-style: italic;
    }

    ::ng-deep .custom-paginator {
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-end !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        margin-top: 30px;
    }

    ::ng-deep .go-btn .p-button {
        height: 30px !important;
        font-size: 10px;
        background-color: #0077aa !important;

    }

    ::ng-deep .p-inputtext.ng-invalid.ng-dirty {
        border-color: #d9dbde !important;
    }

    :host ::ng-deep .p-paginator {
        gap: 0px !important;
        height: 30px;
        padding: 0px;
    }

    :host ::ng-deep .p-paginator-page,
    .p-paginator-next,
    .p-paginator-last,
    .p-paginator-first,
    .p-paginator-prev {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        height: 30px !important;
        min-width: 20px !important;

    }

    :host ::ng-deep .p-paginator-first {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-right: none !important;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        height: 30px !important;
    }

    :host ::ng-deep .p-paginator-prev,
    .p-paginator-next {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-right: none !important;
        height: 30px !important;
        min-width: 20px !important;
    }

    :host ::ng-deep .p-paginator-page {
        gap: none !important;
        border-right: 0px !important;
        height: 30px !important;
    }

    :host ::ng-deep .p-paginator-pages {
        gap: 0px !important;
        height: 30px !important;
    }

    :host ::ng-deep .p-paginator-next {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-right: none !important;
        height: 30px !important;
        min-width: 20px !important;
    }

    :host ::ng-deep .p-paginator-last {
        border: 1px solid #000 !important;
        border-radius: 0px !important;
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        height: 30px !important;
    }

    :host ::ng-deep .p-paginator-page.p-paginator-page-selected {
        background-color: #0077aa !important;
        color: #FFFF !important;
        height: 30px !important;
    }

    ::ng-deep .validate-student-dialog1 .p-dialog-title {
        font-weight: bold;
        color: #0077aa;
        font-family: "Roboto";
        font-size: 20px;
        /* margin-left: 10px;*/
    }



    :host ::ng-deep .paginatorFormElement {
        /*   position: absolute;
    right:2%;*/
        height: 30px !important;
        padding: 0px;
        width: 30px;
        padding: 5px;
        text-align: center;
        border: 1px solid #000;
    }

    ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd) {
        background: #F0F0F0 !important;
        border-color: #F2F2F2 !important;
    }

    ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(odd):hover {
        background: #F0F0F0 !important;
        border-color: #F2F2F2 !important;
        background-color: #d5ddeb !important;
        padding: 10px !important;
        color: #000;
    }

    ::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even):hover {
        background-color: #d5ddeb !important;
        padding: 10px !important;
        color: #000;
    }

    th,
    td {
        font-size: 10px;
        padding: 5px;

    }

    .confirm-box-card {
        width: 70% !important;
    }

    ::ng-deep .validate-student-dialog1 .p-dialog {
        font-family: "Roboto";
        background-color: #fff;
        width: 90% !important;
    }

    ::ng-deep .validate-student-dialog1 .p-dialog-title {
        color: white;
        font-weight: bold;
        color: #0077aa;
        font-family: "Roboto";
        font-size: 20px;
        margin-left: 10px;

    }

    ::ng-deep .cancel-btn .p-button {
        color: #000 !important;
        border-radius: 5px;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid #d9dbde !important;
        margin-top: 10px;
        height: 30px;
    }

    ::ng-deep .submit-btn .p-button {
        background-color: #0077aa !important;
        color: white !important;
        border-radius: 5px;
        margin-top: 10px;
        height: 30px;
    }



    .delete-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    ::ng-deep .p-confirmdialog {
        width: 100% !important;
    }


    ::ng-deep .p-confirmdialog .p-dialog-content {
        font-family: "Roboto";
        color: #000;
        font-weight: bold;
    }

    ::ng-deep .p-dialog-topright .p-dialog {
        background-color: #fff;
        width: 100% !important;
    }



    ::ng-deep .error-text {
        color: red;
    }

    .custom-dropdown1 {
        width: 100% !important;
        margin-top: 5px;
        margin-bottom: 10px;
        /* background-color: #f0f0f0 !important;*/
        border-radius: 0px;
        background-color: transparent !important;
        height: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .p-dialog-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0;
        padding: 5px;
        padding: 0px;
        /* padding-left: 20px !important;*/
    }

    .header-element {
        color: #fff !important;
        font-family: 'Roboto';
        font-size: 1rem;
        margin-left: 15px;
        padding-top: 10px;
    }

    .fa-solid {
        font-size: 15px;
        margin-right: 5px;
    }

    ::ng-deep .p-datatable-tbody>tr>td {
        padding: 8px !important;
        cursor: pointer !important;
    }

    ::ng-deep .p-datatable-thead>tr>th {
        padding: 8px !important;
    }

    .student-heading {
        font-size: 19px !important;
    }

    ::ng-deep .p-dialog-topright .p-dialog {
        background-color: #fff;
        width: 90% !important;
        padding-left: 10px;
    }

    ::ng-deep .p-confirmdialog .p-dialog-content {
        font-family: "Roboto";
        color: #000;
        font-weight: bold;
        font-size: 10px;
        margin-left: 10px;
    }

    :host ::ng-deep .p-toast {
        width: 90% !important;
    }

    :host ::ng-deep .p-icon {
        height: 10px;
    }




}