/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

/* Card Container */
.card {
    position: absolute !important;
    z-index: 2 !important;
    top: 25vh;
    margin: 20px;
    margin-left: 40px !important;
    width: 95% !important;
    background-color: transparent;
}

/* Table Container */
.table-container {
    width: 100%;
    overflow-x: auto;
    height: 45vh;
    border: none;
    scrollbar-width: none;
}

/* Table Styles */
::ng-deep .p-card {
    border-radius: 0px !important;
    width: 100% ;
    height:65vh;
}

::ng-deep .p-table {
    width: 80% !important; 
}

/* Buttons */
.add-btn {
    background-color: #0077aa;
    margin-bottom: 5px !important;
    border-radius: 5px !important;
    margin-left:5px !important;
   /* width: 150px !important;*/
    font-weight: bold !important;
    height: 40px;
}

/* No Records Message */
.no-records-container {
    text-align: center;
    padding-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-style: italic;
}

/* Delete Button */
.delete-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Confirmation Box */
.confirm-box-card {
    width: 30% !important;
}

::ng-deep .p-confirmdialog {
    width: 30% !important;
}

::ng-deep .p-confirmdialog .p-dialog-content {
    font-family: "Roboto";
    color: #34baeb;
    font-weight: bold;
}

::ng-deep .p-dialog-topright .p-dialog {
    background-color: ghostwhite;
    width:30% !important;
}

::ng-deep .p-dialog-center .p-dialog {
    background-color: ghostwhite;
    width:30% !important;
}

/* Button Container */
.add-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

td{
    text-align: center !important;
    font-family: "Roboto";
}

th{
    text-align: center !important;
    font-family: "Roboto";
}

::ng-deep .flex-auto{
    width:100%;
    margin-bottom: 10px;
    background-color: #f0f0f0 !important;
    margin-top:5px;
    margin-bottom: 10px;
}

::ng-deep .validate-student-dialog .p-dialog{
    font-family:"Roboto";
    background-color: #f9f9f9;
    width:30% !important;
}

::ng-deep .validate-student-dialog .p-dialog-title {
    color: white;
    font-weight: bold;
    color:#0077aa;
    font-family:"Roboto";
    font-size:18px;
    margin-left: 10px;
}

.add-btn-container[_ngcontent-ng-c523017971] {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top:5px;
    border: 1px solid #000 !important;
}

::ng-deep .cancel-btn .p-button {
    color: #000 !important;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #d9dbde !important;
    margin-top:10px;
    height: 30px;
}

::ng-deep .submit-btn .p-button  {
    background-color: #0077aa !important;
    color: white !important;
    border-radius: 5px;
    margin-top:10px;
    height: 30px;
}

::ng-deep .error-text{
    color:red;
}

.custom-dropdown1 {
    width: 100% !important;
    margin-top:5px;
    margin-bottom: 10px;
   /* background-color: #f0f0f0 !important;*/
    border-radius: 0px;
    background-color: transparent !important;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.student-heading{
    font-size:20px;
  }

.student-form-elements{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


.previous-btn{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}

.next-btn{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    padding-right:10px;
}

tr:hover{
  background-color: cadetblue;
  color:#fff;
}

tr:nth-child(odd):hover{
    background-color: cadetblue !important;
    color:#fff;
}


.p-select {
    /* border-bottom-left-radius: 5px !important; */
    /* border-top-left-radius: 5px !important; */
    color: #fff !important;
    outline: none !important;
    border-radius: 5px !important;
    /* width: auto !important; */
    background-color: transparent !important;
    margin-bottom: 5px !important;
    
  }

  input{
    height: 40px !important;
    border-radius: 5px !important;
     background-color: transparent !important;
     color:#000 !important;
  }

  .paginator-btn{
    /*   width: 80px !important;*/
       
       border-radius: 5px;
       height: 39px;
       color: #fff !important;
       outline: none !important;
       border-radius: 5px !important;
       /* width: auto !important; */
       background-color: transparent !important;
       
   }

   .card-header{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
    }

   
   
/*.input-Element {
  min-height: 90px; 
  position: relative;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-weight: bold;
}*/
.error-text {
  color: red;
  font-size: 15px;
 /* position: absolute;
  bottom: -10px; */
  width:100%;
 
}

.p-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 5px;
    padding:0px;
    padding-left: 20px !important;
}

 

.header-element{
   margin-left:3%;
    color:#fff !important;
    font-family:'Roboto';
    font-size:2rem;
    margin-left: 30px;
}

::ng-deep .p-datatable-tbody > tr > td {
    padding:8px !important;
}

::ng-deep .p-datatable-thead > tr > th {
    padding:8px !important;
}


.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    background-color: transparent;
    height: 40px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.search-container i {
    margin-right: 10px;
    color: #555;
    align-self: center;
    font-size:18px;
    margin-left:10px;

}



.search-container input {
    border: none;
    outline: none;
    width: 100%;
    
}

::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(odd) {
    background: #F0F0F0 !important;
    border-color: #F2F2F2 !important;
}

::ng-deep .p-datatable.p-datatable-striped .p-datatable-tbody > tr:nth-child(odd):hover {
    background: #F0F0F0 !important;
    border-color: #F2F2F2 !important;
   background-color: cadetblue !important;
   padding:10px !important;
    color: #fff;
}


.searchBox{
    background-color: transparent !important;
    height:30px !important;
    margin-right: 5px !important;
}
/* paginator */


:host ::ng-deep .p-paginator{
        gap:0px !important;
        height: 30px;
        padding:0px;
        margin:0px; 
        margin-top:10px;
  }
  
  
:host ::ng-deep .p-paginator-page,
 .p-paginator-next, 
 .p-paginator-last, 
 .p-paginator-first, 
 .p-paginator-prev{
   border: 1px solid #000 !important;
   border-radius: 0px !important;
   height: 30px !important;
}
 

:host ::ng-deep .p-paginator-first{
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-right: none !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
     height: 30px !important;
}

:host ::ng-deep .p-paginator-prev,.p-paginator-next{
     border: 1px solid #000 !important;
     border-radius: 0px !important;
     border-right: none !important;
      height: 30px !important;

}

:host ::ng-deep .p-paginator-page{
    gap:none !important;
    border-right: 0px !important;
     height: 30px !important;
    
}

:host ::ng-deep .p-paginator-pages{
    gap:0px !important;
    height: 30px !important;  
}
:host ::ng-deep .p-paginator-next{
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-right:none !important;
     height: 30px !important;
}

:host ::ng-deep .p-paginator-last{
    border: 1px solid #000 !important;
    border-radius: 0px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
     height: 30px !important;
}

:host ::ng-deep .p-paginator-page.p-paginator-page-selected {
    background-color: #0077aa !important;
    color: #FFFF !important;
     height: 30px !important;
}


  
/* Responsive Adjustments */
@media (min-width:768px)and (max-width: 1024px) {
    .card {
        width: 95% !important;
        margin-left: 20px !important;
        top:25vh;
    }

    .table-container {
        height: 40vh;
    }

     .card-header{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }

    .add-btn {
      /*  width: 120px !important;*/
        font-size: 12px;
    }

}

@media (max-width: 701px) {
    .card {
        width: 92% !important;
        margin: 20px !important;
        top:25vh !important;
    }

    .card-header{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        flex-wrap: wrap;
    }


    .table-container {
        height: 30vh;
    }

    th, td {
        font-size: 12px;
        padding: 6px;
    }

    .add-btn {
      /*  width: 100px !important;*/
        font-size: 10px;
        height: 30px;
    }
    .confirm-box-card {
        width: 50% !important;
    }

    ::ng-deep .validate-student-dialog .p-dialog{
        font-family:'Roboto';
       /* background-color: ghostwhite;*/
        width:80% !important;
        padding:5px;
    }
    
.p-card {
    border-radius: 0px !important;
    width: 90% !important;
    margin-left: 14px;
    margin-top: 10px;
}

.paginator-btn{
    /*   width: 80px !important;*/
       border-radius: 5px;
       height: 30px;
       color: #fff !important;
       outline: none !important;
       border-radius: 5px !important;
       /* width: auto !important; */
       background-color: transparent !important;
   }

::ng-deep .p-select-label{
    padding:0px !important;
    padding-left: 5px !important;
    padding-right:5px !important;
   }

 ::ng-deep .p-paginator-page, ::ng-deep
 .p-paginator-next, ::ng-deep
 .p-paginator-last, ::ng-deep
 .p-paginator-first, ::ng-deep
 .p-paginator-prev{
   border: 1px solid #000 !important;
   border-radius: 0px !important;
   height: 20px !important;
  
}
 
}

@media (max-width: 480px) and (min-width:700px){
    .card {
        width: 90% !important;
        margin-left: 5px !important;
        top: 0;
        margin-top:20vh;
        
    }

    .table-container {
      height: 25vh !important;
    }

    th, td {
        font-size: 10px;
        padding: 5px;
    }

   
    .add-btn {
      /*  width: 80px !important;*/
        font-size: 9px;
    }

   

    .confirm-box-card {
        width: 70% !important;
    }

    .student-heading{
        font-size:15px;
    }

    ::ng-deep  .card-header{
        display:flex !important;
        flex-direction: column !important;
        justify-content:flex-start !important;
    }

    ::ng-deep .validate-student-dialog .p-dialog{
        font-family:"Roboto";
        background-color: ghostwhite;
        width:80% !important;
    }

 ::ng-deep .p-card {
    border-radius: 0px !important;
    width: 90% !important;
    margin-left: 14px !important;
    margin-top: 10px !important;
}

p-card-body {
    padding: var(--p-card-body-padding);
    display: flex;
    flex-direction: column;
    gap: var(--p-card-body-gap);
    height: 65vh;
}


  

.header-element{
   margin-left:3%;
    color:#fff !important;
    font-family:'Roboto';
   
    font-size:1rem;
    margin-left: 10px;
}

::ng-deep .header-element[_ngcontent-ng-c1266205125] {
    margin-left: 3%;
    color: #fff !important;
    font-family: "Roboto";
    /* padding-top: 10px; */
    font-size: 2rem;
    margin-left: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    background-color: transparent;
    height: 30px !important;
    margin-bottom: 5px;
    margin-right: 5px;
}

.searchBox{
    background-color: transparent !important;
    height:30px !important;
    margin-right: 5px !important;
}


:host ::ng-deep .p-paginator-page{
      border: 1px solid #000 !important;
   border-radius: 0px !important;
   height: 20px !important;
   width:10% !important;
}

:host ::ng-deep
 .p-paginator-next{
   border: 1px solid #000 !important;
   border-radius: 0px !important;
   height: 20px !important;
   width:1rem !important;
 } 

:host ::ng-deep
 .p-paginator-last{
      border: 1px solid #000 !important;
   border-radius: 0px !important;
   height: 20px !important;
   width:1rem !important;
 } 
 :host ::ng-deep
 .p-paginator-first{
       border: 1px solid #000 !important;
   border-radius: 0px !important;
   height: 20px !important;
   width:1rem !important;
 } 
 :host ::ng-deep
 .p-paginator-prev{
   border: 1px solid #000 !important;
   border-radius: 0px !important;
   height: 20px !important;
   width:1rem !important;
  
}

}


