<div [ngStyle]="{'background-color':'#0099cc', 'height':'15vh'}">
    <h1 [ngStyle]="{'margin-left':'4%', 'color':'#fff','font-family':'Roboto', 'padding-top':'20px', 'font-size':'26px'}">
        <i class="fa-solid fa-users" [ngStyle]="{'font-size':'25px', 'margin-right':'10px'}"></i>Student List
    </h1>
</div>

<div class="card">
    <p-card [ngStyle]="{'width':'100%'}">
        <div [ngStyle]="{'display':'flex','justify-content':'space-between','align-items':'center'}">
            <h1 class="student-heading">Student List</h1>
            <div class="student-form-elements">
                <p-select [options]="rowsPerPageArray" [(ngModel)]="rowsPerPage" optionLabel="name" 
                          class="w-full md:w-56 paginator-btn" *ngIf="studentList.length !== 0" (ngModelChange)="updatePagination()"/>
                <button type="button" class="p-button add-btn" (click)="onClickAddData('center')">+Add</button>
            </div>
        </div>
        
        <hr/>

        <div class="table-container">
            <div *ngIf="studentList.length === 0" class="no-records-container">
                <h2>No records found.</h2>
            </div>

            <p-table [value]="paginatedStudents" stripedRows *ngIf="studentList.length !== 0"
                     [rows]="rowsPerPage.value" responsiveLayout="scroll"> 
                <ng-template #header>
                    <tr>
                        <th style="white-space: nowrap;" pSortableColumn="id">Student ID <i class="fa-solid fa-sort" field="id"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="firstname">First Name <i class="fa-solid fa-sort" field="firstname"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="lastname">Last Name <i class="fa-solid fa-sort" field="lastname"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="dob">DOB <i class="fa-solid fa-sort" field="dob"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="gender">Gender <i class="fa-solid fa-sort" field="gender"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="phoneNumber">Phone Number <i class="fa-solid fa-sort" field="phoneNumber"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="dateOfJoining">Date Of Joining <i class="fa-solid fa-sort" field="dateOfJoining"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="createdSource">Created Source <i class="fa-solid fa-sort" field="createdSource"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="createdSourceType">Created Source Type <i class="fa-solid fa-sort" field="createdSourceType"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="createdDttm">Created Datetime <i class="fa-solid fa-sort" field="createdDttm"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="modifiedResource">Modified Resource <i class="fa-solid fa-sort" field="modifiedResource"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="modifiedSourceType">Modified Resource Type <i class="fa-solid fa-sort" field="modifiedSourceType"></i></th>
                        <th style="white-space: nowrap;" pSortableColumn="modifiedDttm">Modified Datetime <i class="fa-solid fa-sort" field="modifiedDttm"></i></th>
                        <th></th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template #body let-product>
                    <tr>
                        <td style="white-space: nowrap;">{{ product.id }}</td>
                        <td style="white-space: nowrap;">{{ product.firstname }}</td>
                        <td style="white-space: nowrap;">{{ product.lastname }}</td>
                        <td style="white-space: nowrap;">{{ product.dob }}</td>
                        <td style="white-space: nowrap;">{{ product.selectedCategory["name"] }}</td>
                        <td style="white-space: nowrap;">{{ product.phoneNumber }}</td>
                        <td style="white-space: nowrap;">{{ product.dateOfJoining | date }}</td>
                        <td style="white-space: nowrap;">{{ product.createdSource }}</td>
                        <td style="white-space: nowrap;">{{ product.createdSourceType }}</td>
                        <td style="white-space: nowrap;">{{ product.createdDttm | date: 'medium' }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedResource }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedSourceType }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedDttm | date: 'medium'}}</td>
                        <td style="white-space: nowrap;"><i class="fa-solid fa-pen-to-square" style="color:green; font-size:20px;"></i></td>
                        <td style="white-space: nowrap;"><button type="button" (click)="onDeleteRecord(product.id,'topright')" class="delete-btn">
                            <i class="fa-solid fa-trash" style="color:red; font-size:20px;"></i></button>
                        </td>
                       
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="custom-paginator" *ngIf="studentList.length !== 0">
            <button (click)="prevPage()" [disabled]="currentPage === 0">Previous</button>
            <span *ngFor="let page of totalPages; let i = index">
                <button (click)="goToPage(i)" [ngClass]="{'active': currentPage === i}">
                    {{ i + 1 }}
                </button>
            </span>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages.length - 1">Next</button>
        </div>
    </p-card>
</div>

<app-form-modal [visible]="isAddBtnActive" [stuId]="studentValidateObj.studentId" [dept]="studentValidateObj.department"></app-form-modal>

<div class="card confirm-box-card">
    <p-toast />
    <p-confirmdialog key="positionDialog" [position]="position" />
</div>

<p-dialog header="Validate Student" [modal]="true" [(visible)]="visible" [position]="position" [ngStyle]="{'width':'50%'}">
    
    <form #miniDialog="ngForm" (ngSubmit)="onsumbitDialogue()">
        <div class="flex items-center gap-4 mb-4">
            <label for="studentId" class="font-semibold w-24">Student ID</label>
            <div>
            <input pInputText id="studentId" class="flex-auto" autocomplete="off" [(ngModel)]="studentValidateObj.studentId" name="studentId"/>
        </div>
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="department" class="font-semibold w-24">Department</label>
            <div>
                <input pInputText id="department" class="flex-auto" autocomplete="off" [(ngModel)]="studentValidateObj.department" name="department"/>
            </div>
        </div>
        <div class="flex justify-end gap-2 add-btn-container">
            <p-button label="Cancel" severity="secondary" (click)="visible = false"/>
            <p-button type="submit" label="Submit"/>
        </div>
    </form>
</p-dialog>
