<div [ngStyle]="{'background-color':'#0099cc', 'height':'15vh'}">
    <h1 [ngStyle]="{'margin-left':'3%', 'color':'#fff','font-family':'Roboto', 'padding-top':'10px', 'font-size':'26px'}">
        <i class="fa-solid fa-building-columns" [ngStyle]="{'margin-right':'5px'}"></i>Attendance
    </h1>
</div>

<div class=" card mb-4 p-8 graph-card bargraph-container">
    <p-card class="p-card-container">
        <div class="form-header-container">
            <h3 class="student-heading">Attendance</h3>
            <div class="student-form-elements">
                <p-select [options]="rowsPerPageArray" [(ngModel)]="rowsPerPage" optionLabel="name" 
                          class="w-full md:w-56 paginator-btn" *ngIf="studentList.length !== 0" (ngModelChange)="updatePagination()"/>
                <button type="button" class="p-button add-btn" (click)="onClickAddData('center')" *ngIf="studentActive">+Add</button>
            </div>
        </div>
        
        <hr/>

        <div class="table-container">
            <div *ngIf="studentList?.length === 0" class="no-records-container">
                <h2>No records found.</h2>
            </div>

            <p-table [value]="paginatedStudents" stripedRows *ngIf="studentList?.length !== 0"
                     [rows]="rowsPerPage.value" responsiveLayout="scroll" paginator="false"> 
                <ng-template #header>
                    <tr>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="id" (click)="sortColumn('studentId')">Student ID <i class="fa-solid fa-sort" field="id"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="month" (click)="sortColumn('month')">Month <i class="fa-solid fa-sort" field="month"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="year" (click)="sortColumn('year')">Year  <i class="fa-solid fa-sort" field="year"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="attendanceCount" (click)="sortColumn('attendanceCount')">Attendance Count <i class="fa-solid fa-sort" field="attendanceCount"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="departmentName" (click)="sortColumn('departmentName')">Department Name <i class="fa-solid fa-sort" field="departmentName"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="departmentID" (click)="sortColumn('departmentId')">Department ID <i class="fa-solid fa-sort" field="departmentId"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="createdSource" (click)="sortColumn('createdSource')">Created Source <i class="fa-solid fa-sort" field="createdSource"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="createdSourceType" (click)="sortColumn('createdSourceType')">Created Source Type <i class="fa-solid fa-sort" field="createdSourceType"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="createdDttm" (click)="sortColumn('createdDttm')">Created Datetime <i class="fa-solid fa-sort" field="createdDttm"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="modifiedResource" (click)="sortColumn('modifiedSource')">Modified Resource <i class="fa-solid fa-sort" field="modifiedResource"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="modifiedSourceType" (click)="sortColumn('modifiedSourceType')">Modified Resource Type <i class="fa-solid fa-sort" field="modifiedSourceType"></i></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="modifiedDttm" (click)="sortColumn('modifiedDttm')">Modified Datetime <i class="fa-solid fa-sort" field="modifiedDttm"></i></th>  
                        <th *ngIf="studentActive"></th>
                    </tr>
                </ng-template>
                <ng-template #body let-product>
                    <tr (dblclick)="viewStudentDetails(product)">
                        <td style="white-space: nowrap;">{{ product.studentId }}</td>
                        <td style="white-space: nowrap;">{{ product.month }}</td>
                        <td style="white-space: nowrap;">{{ product.year }}</td>
                        <td style="white-space: nowrap;">{{ product.attendanceCount }}</td>
                        <td style="white-space: nowrap;">{{ product.departmentName}}</td>
                        <td style="white-space: nowrap;">{{ product.departmentId }}</td>
                        <td style="white-space: nowrap;">{{ product.createdSource }}</td>
                        <td style="white-space: nowrap;">{{ product.createdSourceType }}</td>
                        <td style="white-space: nowrap;">{{ product.createdDttm | date: 'medium' }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedSource }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedSourceType }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedDttm | date: 'medium' }}</td>
                        <td style="white-space: nowrap;"><button type="button" (click)="onDeleteRecord(product.id,'center')" class="delete-btn">
                            <i class="fa-solid fa-trash" style="color:red; font-size:20px;" *ngIf="studentActive"></i></button>
                        </td>
                    </tr>
                </ng-template>                
            </p-table>
        </div>

       <div class="custom-paginator" *ngIf="studentList?.length >= rowsPerPage?.value">
            
            <button (click)="prevPage()" [disabled]="currentPage === 0" class="previous-btn">Previous</button>
            <div *ngFor="let page of displayedPages; let i = index" class="paginator-container" (click)="goToPage(page)" [ngClass]="{'activePage': currentPage === page}">
                
                    {{ page }}
               
            </div>
            <button (click)="nextPage()" [disabled]="currentPage === totalPages.length - 1" class="next-btn">Next</button>
        
        </div>
    </p-card>
</div>

<!--<app-attendance-form [visible]="isAddBtnActive" [stuId]="studentValidateObj.studentId" [dept]="studentValidateObj.department"></app-attendance-form>-->

<app-attendance-form [visible]="isAddBtnActive" [stuId] = "studentValidateObj.studentId" [deptCode]="studentValidateObj.department" *ngIf="studentActive"></app-attendance-form>

<p-dialog  [modal]="true" [(visible)]="visible" [position]="position" class="validate-student-dialog" *ngIf="studentActive">

<form #miniDialog="ngForm" (ngSubmit)="onsubmitDialogue()" >
    <div class="input-Element" >
        <label for="studentId" class="font-semibold w-24">Student ID</label>
       
            <input pInputText id="studentId" class="flex-auto" autocomplete="off" [(ngModel)]="studentValidateObj.studentId" name="studentId" #studentId="ngModel" required />
            <div class="error-text">
            <div *ngIf="studentId.invalid && studentId.touched" >Student ID is required</div>
      
        </div>
    </div>

    <div class=" input-Element" >
          <label for="department" class="font-semibold w-24">Department</label>
       <div>
        <p-select 
                [(ngModel)]="studentValidateObj.department" 
                [options]="departmentList" 
                optionLabel="departmentName" 
                optionValue="departmentName"
                name="department"
                class="custom-dropdown"
                [appendTo]="'body'" 
                required #department="ngModel"/>
          

       </div>
         <div class="error-text">
                     <span *ngIf="department.invalid && department.touched">Department is required</span>
            </div>
            
           
        
    </div>
    <div class="flex justify-end gap-2 add-btn-container">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" class="cancel-btn"/>
        <p-button type="submit" label="Save" class="submit-btn" [disabled]="miniDialog.invalid"/>
    </div>        
</form>
</p-dialog>



<!--Toast--> 

<div class="card confirm-box-card">
    <p-toast />
    <p-confirmdialog key="positionDialog" [position]="position" class="attendance-confirm-model"/>
</div>

<!--Attendance view details component-->

<app-attendance-details [studentDetailsObject]="studentDetailsObject"  [isViewDetailsActive]="isViewDetailsActive"></app-attendance-details>


