<div [ngStyle]="{'background-color':'#0099cc', 'height':'15vh'}">
    <h1 class="header-element">
       Attendance
    </h1>
</div>

<div class=" card mb-4 p-8 graph-card1">
    <p-card class="p-card-container">
        <div class="form-header-container">
            <h3 class="student-heading">Attendance</h3>
            <div class="student-form-elements">
                <p-select [options]="rowsPerPageArray" [(ngModel)]="rowsPerPage" optionLabel="name" 
                          class="w-full md:w-56 paginator-btn" *ngIf="studentList.length !== 0" (onChange)=" onChangeRowsPerPage($event)"/>
                <button type="button" class="p-button add-btn" (click)="onClickAddData('center')" *ngIf="studentActive">+Add</button>
            </div>
        </div>
        
        <hr/>

        <div class="table-container">
            <div *ngIf="studentList?.length === 0" class="no-records-container">
                <h2>No records found.</h2>
            </div>

            <p-table [value]="paginatedStudentList" stripedRows *ngIf="studentList?.length !== 0"
                     [rows]="rowsPerPage.value" responsiveLayout="scroll" paginator="false"> 
                <ng-template #header>
                    <tr>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="id" (click)="sortColumn('studentId')" *ngIf="studentActive">Student ID <p-sortIcon field="id"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="month" (click)="sortColumn('month')">Month <p-sortIcon field="month"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="year" (click)="sortColumn('year')">Year  <p-sortIcon field="year"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="attendanceCount" (click)="sortColumn('attendanceCount')">Attendance Count <p-sortIcon field="attendanceCount"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="departmentName" (click)="sortColumn('departmentName')">Department Name <p-sortIcon field="departmentName"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="departmentID" (click)="sortColumn('departmentId')">Department ID <p-sortIcon field="departmentId"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="createdSource" (click)="sortColumn('createdSource')">Created Source <p-sortIcon field="createdSource"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="createdSourceType" (click)="sortColumn('createdSourceType')">Created Source Type <p-sortIcon field="createdSourceType"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="createdDttm" (click)="sortColumn('createdDttm')">Created Datetime <p-sortIcon field="createdDttm"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="modifiedResource" (click)="sortColumn('modifiedSource')">Modified Resource <p-sortIcon field="modifiedResource"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="modifiedSourceType" (click)="sortColumn('modifiedSourceType')">Modified Resource Type <p-sortIcon field="modifiedSourceType"/></th>
                        <th style="white-space: nowrap; text-align: center;" pSortableColumn="modifiedDttm" (click)="sortColumn('modifiedDttm')">Modified Datetime <p-sortIcon field="modifiedDttm"/></th>  
                        <th *ngIf="studentActive"></th>
                    </tr>
                </ng-template>
                <ng-template #body let-product>
                    <tr (dblclick)="viewStudentDetails(product)">
                        <td style="white-space: nowrap;" *ngIf="studentActive">{{ product.studentId }}</td>
                        <td style="white-space: nowrap;">{{ product.month }}</td>
                        <td style="white-space: nowrap;">{{ product.year }}</td>
                        <td style="white-space: nowrap;">{{ product.attendanceCount }}</td>
                        <td style="white-space: nowrap;">{{ product.departmentName}}</td>
                        <td style="white-space: nowrap;">{{ product.departmentId }}</td>
                        <td style="white-space: nowrap;">{{ product.createdSource }}</td>
                        <td style="white-space: nowrap;">{{ product.createdSourceType }}</td>
                        <td style="white-space: nowrap;">{{ product.createdDttm | date: 'medium' }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedSource }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedSourceType }}</td>
                        <td style="white-space: nowrap;">{{ product.modifiedDttm | date: 'medium' }}</td>
                        <td style="white-space: nowrap;"><button type="button" (click)="onDeleteRecord(product.id,'center')" class="delete-btn">
                            <i class="fa-solid fa-trash" style="color:red; font-size:20px;" *ngIf="studentActive"></i></button>
                        </td>
                    </tr>
                </ng-template>                
            </p-table>
        </div>
        <ng-template pTemplate="paginator"  >
            <div class="custom-paginator2">
                <p-paginator [rows]="rowsPerPage.value" [totalRecords]="studentList.length" (onPageChange)="handlePageChange($event)" [first]="currentPage * rowsPerPage.value" [pageLinkSize]="3"></p-paginator>
                <input pInputText id="currentPageNo" class="paginatorFormElement2" autocomplete="off" [(ngModel)]="updatePage" name="currentPage" #page="ngModel" required [ngStyle]="{'background-color':'transparent'}"/>
                <p-button type="button" label="GO" class="go-btn2" (click)="onClickGo()"/>
            </div>
        </ng-template>
    </p-card>
</div>

<!--<app-attendance-form [visible]="isAddBtnActive" [stuId]="studentValidateObj.studentId" [dept]="studentValidateObj.department"></app-attendance-form>-->

<app-attendance-form [visible]="isAddBtnActive" [stuId] = "studentValidateObj.studentId" [deptCode]="studentValidateObj.department" *ngIf="studentActive"></app-attendance-form>

<p-dialog header="Student ID Checker" [modal]="true" [(visible)]="visible" [position]="position" class="validate-student-dialog" *ngIf="studentActive">

<form #miniDialog="ngForm" (ngSubmit)="onsubmitDialogue()" [ngStyle]="{'margin':'5px'}">
    <div class="input-Element2" >
        <label for="studentId" class="font-semibold w-24">Student ID</label>
            <input pInputText id="studentId" class="flex-auto" autocomplete="off" [(ngModel)]="studentValidateModalObject.studentId" name="studentId" #studentId="ngModel" required placeholder="Enter your student ID"/>
            <div class="error-text">
            <div *ngIf="studentId.invalid && studentId.touched" >Student ID is required</div>
        </div>
    </div>

    <div class="input-Element2" [ngStyle]="{'margin-bottom':'5px'}">
          <label for="department" class="font-semibold w-24">Department</label>
      
        <p-select 
                [(ngModel)]="studentValidateModalObject.department" 
                [options]="departmentList" 
                optionLabel="departmentName" 
                optionValue="departmentName"
                id="department"
                name="department"
                class="custom-dropdown"
                [appendTo]="'body'" 
                placeholder="Select your Department"
                required #department="ngModel"/>
        
        <div class="error-text">
                <span *ngIf="department.invalid && department.touched">Department is required</span>
            </div>
    </div>
    <div class=" add-btn-container">
        <p-button label="Cancel" severity="secondary" (click)="onCancelBtn()" class="cancel-btn"/>
        <p-button type="submit" label="Save" class="submit-btn" [disabled]="miniDialog.invalid"/>
    </div>        
</form>
</p-dialog>



<!--Toast--> 

<div class="card confirm-box-card">
    <p-toast />
    <p-confirmdialog key="positionDialog" [position]="position" class="attendance-confirm-model"/>
</div>

<!--Attendance view details component-->

<app-attendance-details [studentDetailsObject]="studentDetailsObject"  [isViewDetailsActive]="isViewDetailsActive"></app-attendance-details>


