
<div [ngStyle]="{'background-color':'#0099cc', 'height':'15vh'}">
    <h1 class="header-element">
   <!-- <img src="src/assets/dashboardIcon.png" alt="icon"/>--> <i class="fa-solid fa-gauge"></i>
      Dashboard
    </h1>
</div>

<div class="mb-4 p-8 graph-component-container" >
    <p-card header="Attendance Count Analysis" class="p-card-container">
        <div class="select-elements-container" *ngIf="!isStudentLogged">
         <p-dropdown [(ngModel)]="departmentId" [options]="deptCodeOptionsList" optionLabel="departmentId" class="custom-dropdown"
            placeholder="Select Department ID" (onChange)="onDepartmentChange($event.value)"  optionValue="departmentId">
        </p-dropdown>

         <p-dropdown [(ngModel)]="studentId" [options]="deptOptionsListFilter" optionLabel="studentId" class="custom-dropdown"
            placeholder="Select Student ID" (onChange)="onStudentChange($event.value)" optionValue="studentId">
        </p-dropdown>
        </div>
        <p-chart type="bar" [data]="data" [options]="options" class="h-[30rem]" />
    </p-card>
</div>


  <!--   <p-dropdown 
                     [(ngModel)]="studentId" 
                    [options]="deptOptionsList" 
                    (onChange)="onStudentChange($event.value)" 
                    placeholder="Select Your Student ID"
                    optionLabel="studentId"
                     optionValue="studentId">
                </p-dropdown>
                --> 
            