
<div [ngStyle]="{'background-color':'#0099cc', 'height':'15vh'}">
    <h1 [ngStyle]="{'margin-left':'4%', 'color':'#fff','font-family':'Bree Serif', 'padding-top':'10px'}">Dashboard</h1>
</div>

<div class="mb-4 p-8 graph-card bargraph-container" >
    <p-card header="Trends" class="p-card-container">
        <div>
            <select [(ngModel)]="studentId" (change)="onStudentChange($event)" placeholder="Select Your studentId">
                <option disabled selected>{{studentId}}</option>
                <option *ngFor="let student of deptOptionsList" [value]="student.studentId">
                  {{ student.studentId }} - {{ student.departmentId }}
                </option>
              </select>

            <!--   <p-dropdown 
                     [(ngModel)]="studentId" 
                    [options]="deptOptionsList" 
                    (onChange)="onStudentChange($event.value)" 
                    placeholder="Select Your Student ID"
                    optionLabel="studentId"
                     optionValue="studentId">
                </p-dropdown>
                --> 
            
        </div>
        <p-chart type="bar" [data]="data" [options]="options" class="h-[30rem]" />
    </p-card>
</div>