.graph-component-container {
    position: absolute !important;
    z-index: 2 !important;
    top: 25vh;
    width: calc(100% - 50px);
    background-color: transparent;
    margin-left: calc(10px + 1%);
    margin-right: calc(10px + 2%);
    padding-bottom: 5px !important;
}

::ng-deep .p-card {
    border-radius: 0px;
}

::ng-deep .p-card-container {
    width: 98%;
}

::ng-deep .p-card-title {
    font-weight: bold;
    font-size: 20px;
}

.select-elements-container {
    position: absolute;
    top: 3%;
    right: 2%;
    gap: 10px;
    display: flex;
}

.custom-dropdown {
    border-radius: 5px !important;
    background-color: transparent !important;
    box-shadow: 2px 2px 2px 2px #8a8988 !important;
}

.header-element {
    color: #fff;
    font-family: 'Roboto';
    font-size: 1.5rem;
    margin-left: 30px;
    padding-top: 10px;
}

.fa-solid {
    font-size: 1.5rem;
    margin-right: 5px;
}


/* Mobile Devices (481px - 600px) */
@media (min-width: 577px) and (max-width: 786px) {
    .graph-component-container {
        top: 26vh;
        width: calc(100% - 25px);
        margin-left: calc(10px + 1%);
        margin-right: calc(10px + 2%);
        padding-bottom: 5px !important;
    }

    .select-elements-container {
        top: 3%;
        right: 1%;
        flex-direction: row;
    }

    .custom-dropdown {
        font-size: 10px;
        width: auto;
    }

    .p-card-title {
        font-size: 15px;
    }
}

/* Small Screens (max-width: 480px) */
@media (max-width: 576px) {
    .graph-component-container {
        position: absolute !important;
        z-index: 1 !important;
        top: 27vh;
        width: calc(100% - 20px);
        background-color: transparent;
        margin-left: calc(10px + 1%);
        margin-right: calc(10px + 1%);
        padding-bottom: 5px !important;
    }


    .p-card-title {
        font-size: 15px;
    }

    .select-elements-container {
        top: 3%;
        right: 5%;
        flex-direction: row;
    }

    .custom-dropdown {
        font-size: 10px;
        width: auto;
    }

    .select-elements-container {
        flex-direction: row;
        align-items: center;
        position: relative;
        top: auto;
        right: auto;
    }

    .custom-dropdown {
        width: auto;
        font-size: 8px;
    }

    ::ng-deep .p-card-title {
        font-weight: bold;
        font-size: 15px;
    }

    .header-element {
        color: #fff;
        font-family: 'Roboto';
        font-size: 1rem;
        margin-left: 15px;
        padding-top: 10px;
    }

    .fa-solid {
        font-size: 15px;
        margin-right: 5px;
    }

    ::ng-deep p-chart div {
        height: 48vh;
    }

    :host ::ng-deep .p-toast {
        width: 90%;
    }
}